[2017-07-06 18:56] showell opened #1 "Update Python API examples with accurate usage messages"
originally here: https://github.com/zulip/zulip/issues/3365

from dehnert:

The Python API examples use generate_option_group and init_from_options to support a common set of options, but (mostly?) hardcode their usage messages. They should ideally display a more complete usage message as well (or instead) that reflects the other options, especially --config-file (though others are also occasional

[2017-07-06 19:01] showell opened #2 "Improve API test coverage"
The API tests actually live in our server repo.

We want to improve them a bit:

See https://github.com/zulip/zulip/issues/3736

And we also might want to move them over to this repo.

[2017-07-06 19:01] showell commented on #2
(I am immediately closing this as a duplicate, since we need to fix API tests in the other repo till we move them over.)

[2017-07-06 19:01] #2 closed

[2017-07-06 19:04] showell opened #3 "Use request sessions in Python API."
See https://github.com/zulip/zulip/issues/4509

[2017-07-06 19:06] showell opened #4 "define bot: Fix warnings/errors."
See https://github.com/zulip/zulip/issues/4960

[code]

[2017-07-06 19:12] showell opened #5 "Fix or deprecate the John bot."
See here for context:

https://github.com/zulip/zulip/issues/4975

I'm not sure the current code for the John bot is worth maintaining, unless somebody is excited about fixing it to do AI kind of stuff.

[2017-07-06 19:26] showell opened #6 "bots: Encode URLs properly to outbound sites."
See https://github.com/zulip/zulip/issues/5152.

[2017-07-06 19:30] showell opened #7 "bot server: Add supervisord configuration"
see https://github.com/zulip/zulip/issues/5359

from vabs22:

Add supervisord configuration for running the server persistently and simplifying the server setup.
e.g. install-zulip-flask-supervisord <path_to_flaskbotrc>

[2017-07-06 19:31] showell opened #8 "bot server: Add docs for using Heroku."
See https://github.com/zulip/zulip/issues/5360

[2017-07-06 19:35] showell opened #9 "bots: Audit bots for filesystem access."
see https://github.com/zulip/zulip/issues/5395 for context

We want to double check that:
* bots use StateHandler for saving state
* bots don't directly access the file system for config info

This project may already be done, and the best person to address this issue is somebody fairly involved with the project already, so they know what to check for.

[2017-07-06 19:38] showell opened #10 "tooling: Set up Travis on the new repo"
We need to figure out ways to run these kinds of things on our newly split out repo

* ./tools/lint (from server repo, should run on api repo and borrow code somehow)
* bots automated tests (should run on new repo ideally)
* api tests (these should actually stay on the server repo for the short term, but we could move them here if we had a way to set up a test server)

This ticket is not for begin

[2017-07-06 19:49] showell opened #11 "api: Create a timeout mechanism for API calls ("short polling"?)"
For certain advanced API applications, it will be useful to set out a timer for server requests.  For example, I may want to only wait 5 seconds to get the next message in the stream, and if the message doesn't come, I want to do something else in real time like send a message myself or go to sleep for a bit, etc.

This would be a fairly technical project for somebody who understands long polling

[2017-07-06 19:58] showell commented on #5
(We can also close this ticket if we think the John bot is answering fine for the purposes of what's basically a demo bot.  I wonder if the original bug report used it in a misconfigured state?)

[2017-07-06 20:16] showell commented on #5
I'm closing this as being mostly non-actionable.  Anecdotal reports are that the bot seems to work now.  And if it doesn't, we'll probably hear about it soon.

[2017-07-06 20:16] #5 closed

[2017-07-10 07:24] derAnfaenger commented on #9
Sorry for this late reply!
@tabbott this is partially done, except for the part where we want to handle general file accesses by bots. I've started to write up a PR for this, but got heavily delayed due to my Asia trip. Assuming this is nothing critical, I'll be happy to say that I'm still working on this.

[2017-07-10 07:43] tabbott commented on #9
thanks for the update :q

[2017-07-10 11:14] derAnfaenger commented on #9
Oh no, now I'm already tagging the wrong people :/ sorry, meant @timabbott

[2017-07-11 03:19] tabbott commented on #9
No worries! It's actually not the first time this has happened. Perhaps not the last time either :)

[2017-07-15 07:32] dehnert commented on #1
AFAICT, this works now?
[code]

I'm a little confused, because I can't seem to find a code change that *made* this work. It's possible that I was just going off the code or something, but I think I actually got confused when running it?

Maybe I was specifically complaining about the first line, with the actual usage example. I don't think that's a big deal as long as `--config-file` and so forth

[2017-07-16 04:21] dehnert commented on #1
Okay, maybe my source of confusion was that if you try an unknown option, you get the usage message (which is misleading) but it's not immediately obvious that `--help` will be more informative. Unfortunately, it doesn't appear that you can add prefatory text to `--help` output using `optparse` without also also having it appear when an unknown option is passed.

I wonder if the right way to forma

[2017-07-17 00:15] timabbott commented on #9
OK that plan makes sense @derAnfaenger.

[2017-07-18 07:42] dehnert commented on #3
@zulipbot claim

[2017-07-25 00:00] timabbott opened #28 "Set User-Agent correctly for Zulip bots"
We should set User-Agent so it is easy for the Zulip server's logging to track usage of the various bots.

The pattern we've established for this sort of thing is e.g. `ZulipTrelloWebhook` for our webhooks.  So I think we probably want e.g. `ZulipConverterBot` as the naming scheme for these.  Ideally, the framework would generate the client name, so there's no need to make any individual per-bot c

[2017-07-25 18:00] timabbott commented on #10
We have Travis running with both lint and the bot tests, so closing this; I think it might be reasonable to open an issue for new forms of coverage that we want to add...

[2017-07-25 18:00] #10 closed

[2017-07-26 00:41] neiljp opened #31 "Weather bot: Appears to fail existing tests when run with python3"
With the code from #27 I see this detail of the failure using `python3 -m unittest discover`:

[code]

The test passes with python2 (2.7.13), whereas python3 here is 3.5.3 currently.

I'm guessing this is some kind of rounding error, and will look into it.

[2017-07-26 01:17] neiljp commented on #28
Working on this just now.

[2017-07-26 01:30] neiljp commented on #28
How does #33 look as a resolution to this?

[2017-07-26 02:03] neiljp commented on #31
This should be fixed, now that #32 is merged.

[2017-07-26 02:35] #28 closed

[2017-07-27 06:16] neiljp commented on #31
While #32 was seemingly a good fix, it now seems to fail for another part of the weather test:
[code]

[2017-07-27 06:19] timabbott commented on #31
The actual numbers are different there.  Does this test have mocks for the network requests?  If not, it's probably just the actual temperature having changed?

[2017-07-27 15:49] neiljp commented on #31
There are mocks in there; the test harness has:
[code]

I think the key thing here is that the **C** result is identical but the **F** result is not, which suggests to me a calculation error. The scaling is only a factor of ~2 (9/5), so we could expect the 0.4F difference to have a ~0.2C change, which would be noticeable.

[2017-07-27 16:02] neiljp commented on #31
Online research suggests 58.73F is correct. This leads me to suggest that the original test was not taking into account python2 integer division. Hence #37.

[2017-07-27 17:22] #31 closed

[2017-07-27 18:05] timabbott opened #38 "Add test coverage reporting to our codebase and Travis CI"
This will help a lot for working towards having a complete test suite in this project.

I think we can borrow most of the logic from `tools/test-backend` in the server repo.

[2017-07-27 18:08] timabbott opened #39 "Fix spammy BeautifulSoup output in `tools/test-bots`"
We should figure out how to fix this warning.

[code]

What I don't get is where we're calling BeautifulSoup the wrong way, given this:

[code]

I'd love to see this debugged, since we actually have a similar problem in the server project with some code using BeautifulSoup...

[2017-07-27 20:49] derAnfaenger commented on #39
The problem seems to be the library `PyDictionary` used by the thesaurus bot.
According to [this](https://github.com/geekpradd/PyDictionary/issues/1) issue on PyDictionary's repo, it was a file `utils.py` that caused their code to throw this warning. The line numbers provided by BeautifulSoup are completely confusing and irrelevant in this case.

I checked out the PyDictionary repo, they updated t

[2017-07-27 21:01] timabbott commented on #39
We could move our `requirements.txt` to using a version of PyDictionary from Git to resolve this before their release.  See zulip.git/requirements/* for a bunch of examples of doing this (though don't use `-e`).

[2017-07-29 00:35] timabbott commented on #1
Since we're migrating to argparse, this situation may change in terms of what's easy to do...

[2017-07-31 23:14] gnprice opened #43 "Add license and third-party-copyright info following move to separate repo"
The Zulip server repo's `docs/THIRDPARTY` file has the following information about the files that were moved from there into this repo:
[code]

Now that this code is in its own repo, we should move that information here, and also add a LICENSE file with the Expat license to help make that part clear.

[2017-08-01 00:02] gnprice opened #44 "Fix bugs on Python 3 and add to Travis builds"
Currently we have only Python 2.7 in the .travis.yml in this repo, leaving us open to regressions in our Python 3 support. We should add `3.4` to the list of Python versions, like we have in the Zulip server repo, and fix the bugs that show up when we do that.

At a [quick test](https://travis-ci.org/gnprice/python-zulip-api/jobs/259568217) on my own fork of the repo, there look to be at least a c

[2017-08-01 00:08] timabbott commented on #44
Might be worth testing 3.5 and 3.6 as well.

[2017-08-01 00:10] gnprice opened #45 "Failures in test-bots don't fail the Travis build"
In my [quick test of Python 3 support](https://travis-ci.org/gnprice/python-zulip-api/jobs/259568217), `tools/test-bots` printed failures but then exited with status 0, meaning success -- which means that if the `python -m unittest` run hadn't also failed, the Travis build would have cheerfully passed even though there were errors.

We should fix `tools/test-bots` to make sure it returns an exit s

[2017-08-01 01:45] gnprice commented on #44
Yeah, agreed -- that's something we're going to want to pursue in the server too ASAP, I think.

On that side it'd be a burden to run all the tests on all those versions every commit, but we can figure something out. On this side, the Travis build as a whole is pretty fast, and also because it's a library there's a fair amount of value in supporting a range of versions, so we should probably run o

[2017-08-02 01:15] timabbott opened #49 "Add integration with ErrBot"
ErrBot is a framework for writing bots, which I think it would be worth doing the work to integrate with the Zulip API.  The code probably should go into their project, but it'll use these API bindings, so I'm opening an issue here to prioritize in relation to other issues here.

Here's their docs on how to add support:

http://errbot.io/en/latest/user_guide/backend_development/

See also https://

[2017-08-07 21:32] derAnfaenger commented on #39
@timabbott tried to apply your approach - I wasn't able to install `PyDictionary` directly via `git+git://github.com/geekpradd/PyDictionary.git`, since there strangely is no `setup.py` in their main repo.

[2017-08-09 23:36] roberthoenig opened #55 "Handle empty bot messages through the bots framework."
To this point, several bots have shown difficulties to cope with empty messages, leading to crashes.

As discussed in #54 , this issue could be addressed by letting a bot set a state in its class whether they want to receive empty messages.

Steps involved:
* Modify `lib.py` to check a bot's `ACCEPT_EMTPY_MESSAGES` state and conditionally send messages.
* Inform the user in case of missing empty m

[2017-08-11 04:04] neiljp commented on #55
We definitely noticed this at pycon! I would be interested in pursuing this, since it fits quite well with the ideas I was looking at in zulip/zulip#5047.

While this issue is (currently) focused on empty messages, as per my previous PR I'm interested if this could be extended to a broader range of (typically default) messages. As in #54, I see the benefit of keeping the main handler interface min

[2017-08-11 17:14] rishig opened #57 "twitter bot: Links not showing up in echoed tweets?"
This tweet: https://twitter.com/zulip/status/895473932278431744
![image](https://user-images.githubusercontent.com/890911/29224175-133373f6-7e7e-11e7-9d2d-c5d50b0f53ef.png)

shows up as the following on https://chat.zulip.org/#narrow/stream/twitter/subject/zulip/near/265158
![image](https://user-images.githubusercontent.com/890911/29224117-c8fdf22a-7e7d-11e7-98ac-933cd191f73c.png)

Namely, the cha

[2017-08-11 19:16] timabbott commented on #57
@HarshitOnGitHub is this something you can look into?  Now that I understand the issue a bit better, it's clearly going to be on the Bugdown side of things.

[2017-08-11 21:12] HarshitOnGitHub commented on #57
@timabbott This one seems to be interesting! Looking into it. Retweets of the mentioned tweet are rendering properly:
https://chat.zulip.org/#narrow/stream/test.20here/subject/long.20links/near/265858
https://chat.zulip.org/#narrow/stream/test.20here/subject/long.20links/near/265859

[2017-08-12 02:48] neiljp commented on #55
@zulipbot claim

[2017-08-14 17:49] HarshitOnGitHub commented on #57
I digged into this a little bit and results are a bit perplexing. I fetched the tweet data for the mentioned tweet and a retweet for checking out what's going. The `urls` key in the fetched data had different urls for tweet and retweet. Further the rendered tweet seemed to be in accordance to what was given to the bugdown processor so to me this seems to be a quirk on twitter's side. I think we ca

[2017-08-14 18:05] timabbott commented on #57
Hmm, OK, yeah, sounds like a bug on Twitter's end.  Thanks for investigating!

[2017-08-14 18:05] #57 closed

[2017-08-15 17:46] #45 closed

[2017-08-16 03:07] timabbott commented on #39
Well, that's annoying.  I pinged the issue in PyDictionary's repo, in the hopes of getting upstream to deal.

[2017-08-16 03:22] eeshangarg opened #69 "zulip_bots: Autogenerate MANIFEST.in in setup()."
Ideally, `zulip_bots/MANIFEST.in` should be automatically generated by `setup.py` and it should be ignored in `.gitignore`. There are a few things to keep in mind:

* We could add this as a part of a separate build step or command in `setup.py`.
* We need to make sure that this generation of `zulip_bots/MANIFEST.in` can be triggered from our main repo when installing the `zulip_bots` package, whic

[2017-08-16 11:49] derAnfaenger commented on #9
@timabbott this issue can be closed.

[2017-08-16 12:16] derAnfaenger commented on #38
Just to get this right, we basically want the two commands
`python -m unittest discover -v zulip_botserver` and
`tools/test-bots`
to be executed by a `test-backend` script, that also tests for coverage with codecov?

[2017-08-16 12:17] derAnfaenger commented on #8
@zulipbot claim

[2017-08-16 12:18] derAnfaenger commented on #8
Current status is that we are waiting for the outgoing webhook url to be retroactively editable.

[2017-08-16 14:00] #44 closed

[2017-08-16 14:48] timabbott commented on #9
Sounds good!

[2017-08-16 14:48] #9 closed

[2017-08-16 15:04] timabbott commented on #38
I'd probably call it `tools/test-all`?  But yeah, whatever we call it, we want to run the various test suites using the `python-coverage` API to collect coverage data.  It has support for merging data from a few suites (which we use in `test-backend` because we run things in parallel).

(I think it might also be reasonable to just make `test-bots` test the `zulip_botserver` package too, if those t

[2017-08-17 07:48] derAnfaenger commented on #39
Closing this, since #75 removed the Thesaurus bot and thus the PyDictionary dependency.

[2017-08-17 07:48] #39 closed

[2017-08-17 17:09] #69 closed

[2017-08-21 14:20] derAnfaenger commented on #49
@zulipbot claim

[2017-08-21 16:41] derAnfaenger commented on #4
@abhijeetkaur @neiljp @eeshangarg , has this occurred to anyone of you recently?

[2017-08-21 22:03] #38 closed

[2017-08-22 10:25] derAnfaenger commented on #7
Would it be enough to simply add a section in our documentation for supervisord that provides a config chunk users can paste in their `supervisord.conf`?

[2017-08-22 17:53] timabbott commented on #7
I think that'd be a reasonable place to start, yeah.

[2017-08-22 18:37] alphor opened #86 "default argument to Client.call_on_each_event's event_type param should be an empty list, or set to one"
Example:
[code]

returns:
[code]

The current argument for [call_on_each_event](https://github.com/zulip/python-zulip-api/blob/095cea7ab9518dfd9658b03df69ab876bb6e1268/zulip/zulip/__init__.py#L499)'s event_types is defined as None, but it's never set to a list within the function body. Passing an empty list for event_types works as expected.

[2017-08-22 19:08] timabbott commented on #86
@alphor thanks for the bug report!  I agree with your diagosis.  Want to submit a quick PR fixing this?

[2017-08-22 21:52] alphor commented on #86
@timabbott I'd love to :)

call_on_each_event simply hands off event_types to the register method. If someone decides not to use call_on_each_event and instead opts to use register, they'll experience this same issue.

Where's the best place to fix this, at the register level, or call_on_each_event's level, or both? It seems that both are intended to be exposed to API clients.

[2017-08-22 21:58] timabbott commented on #86
I think modfying this block in `register` to use the same pattern it uses for `narrow` would work:
[code]

[2017-08-22 23:33] #86 closed

[2017-08-23 00:12] timabbott opened #88 "Fix up twitter-search-bot integration for Python 3 and better state management"
We've been using `twitter-search-bot` on chat.zulip.org for a long time, but with the Python 3 upgrade, it seems to be broken.

The last time I ran it, it seems to have lost its `since_id` value (And the rest of its config), because of a Python 3 compatibility exception trying to update its config file.

We should fix this (and its `twitter-bot` friend) to use a separate file for storing `since_id

[2017-08-23 00:22] timabbott commented on #88
Since I wanted to get our integration working again, I fixed the Python 3 part in 9c18c0b4ed7f37accdd1e57e98082ed5cce8383a, but it still isn't OK that this can eat its configuration file; that issue is still a high priority.  The basic problem is that `write_config` should be writing to a separate file from its own configuration.

[2017-08-24 17:33] timabbott commented on #11
The other approach to consider for this would be to add support for our bots using some sort of asynchronous IO system.

[2017-08-24 17:36] timabbott commented on #4
I haven't seen this.  The issue is I think pretty clear though:
[code]

We don't check the HTTP status of the `api_result`, so probably what's happening is we're getting a 429 (rate limited) or 500 error.  And those errors aren't JSON-decodable.

[2017-08-24 17:40] #3 closed

[2017-08-24 17:50] timabbott opened #92 "Have an easy way to find the examples from our documentation"
Because of the move to `pip install zulip` (instead of having people clone the repo or download a tarball), it's now very easy to not find the API examples that come with the package.  We should probably do some combination of:
* Adding something to our API docs that point to the example code (E.g. just a link to the directory on GitHub)
* Having a recommended command that you can run after you've

[2017-08-24 18:02] timabbott commented on #1
OK, so I think there are 2 parts to resolving this:
(1) Removing the hardcoding of `--user` and `--api-key` in the `usage` of our various API examples, since we expect users to use a `.zuliprc` file.  I've done `zulip/examples/send_message` here: 5bc98bfdf76e9d4964f2667fa94b5c06869b2e40.  Someone else can take up the rest of this.

(2) Making `./zulip/examples/send-message --foo` recommend `--help

[2017-08-24 18:04] timabbott opened #93 "Make invalid arguments to API examples do something reasonable"
If you run one of our API examples with an invalid argument, like this:
[code]

This doesn't explain what options do work, and thus requires that the user know that --help is the magic option for getting help).  Ideally, we'd figure out some argparse configuration option that makes this work properly.

See more discussion in #1 for details on the motivation.

[2017-08-25 07:53] derAnfaenger commented on #4
Hmm, so since there now is a big try-except clause surrounding all problematic code, catching everything, I guess we can close this?
[code]

[2017-08-25 08:03] derAnfaenger commented on #4
I posted a small [commit](https://github.com/zulip/python-zulip-api/pull/95/commits/7098d4111fadcbbc93c4437a9c61e7925ae60aca) for clarifying the error message. Closing this, since the big except block should prevent any errors from happening.

[2017-08-25 08:03] #4 closed

[2017-08-25 15:06] derAnfaenger commented on #92
For some reason, `pip install ./zulip` install the package in `Python35-32\Lib\site-packages`, but the examples and integrations in `Python35-32\share\zulip\`. Going to debug this.

[2017-08-25 15:21] derAnfaenger commented on #92
So basically, it's because of this:
[code]
Is there any reason why we want to have this in a `share` directory?

[2017-08-25 17:51] timabbott commented on #92
I think `share` is where you usually put man pages and stuff, which is why they were there.  Moving them to `lib` is probably a good idea.

[2017-08-28 02:28] #88 closed

[2017-08-28 09:44] derAnfaenger commented on #92
Updated #98 for this. Right now, the script works for me with a normal install, but not with an editable install: The reason for that is the current location of the `examples` directory outside of the `zulip` package directory. Would it make sense to move `examples` into `zulip/zulip`? Also, `MANIFEST.in` seems to be outdated and includes only a subset of all scripts in `examples`.

[2017-08-29 21:19] #93 closed

[2017-08-29 21:25] #1 closed

[2017-08-30 18:15] neiljp commented on #55
A PR for this issue was initially developed in #58, but then extended into #66, both of which are still open pending feedback (primarily focusing on #66).

[2017-09-01 08:25] #7 closed

[2017-09-04 12:41] roberthoenig opened #106 "Improve IRC Gateway"
See [zulip/zulip#249](https://github.com/zulip/zulip/issues/249)

Moving the issue here, let's have a discussion on what parts of the original one are still relevant.

[2017-09-12 08:45] timabbott commented on #106
I think the big thing we need to do here is have step-by-step instructions for how to run it, documenting its limitations.  We can probably just put that in the /integrations/ docs.  And then we can open issues for fixing the major limitations revealed in that documentation.

[2017-09-12 08:46] timabbott commented on #106
The discussion in zulip/zulip#249 should cover the special Zulip things one needs to know to run it, specifically the need to use `manage.py knight` to create an "API super user" bot.

[2017-09-12 09:49] timabbott commented on #92
Hmm, yeah, likely we should move the examples directory into the `zulip` subdirectory to fit the preferred structure for Python packages.  Which scripts are missing from `MANIFEST.in`?  I suspect there's not a good reason for them to be.

[2017-09-14 11:46] #92 closed

[2017-09-15 08:09] derAnfaenger opened #118 "Document `zulip-api-examples` script."
[`zulip-api-examples`](https://github.com/zulip/python-zulip-api/blob/master/zulip/zulip/api_examples.py) is a little script that prints the path to the `examples` directory of the installed `zulip` package.

We should document it in our API docs. At the creation time of this issue, the proper place to add such a documentation (`/api/`) did not have the right layout adding a section like this (see

[2017-09-15 14:32] derAnfaenger opened #121 "Document the `log2zulip` integration."
The docs should be added in the `zulip` repo, next to [the other integration docs](https://github.com/zulip/zulip/tree/master/templates/zerver/integrations)

Points worth mentioning in the doc:

* how to run `log2zulip`
* adding a cron job for `log2zulip`
* sample config file for `log2zulip`

[2017-09-15 15:58] neiljp commented on #55
@zulipbot claim

[2017-09-16 04:18] neiljp commented on #6
@zulipbot claim

[2017-09-16 14:31] roberthoenig opened #122 "Get maintained bots to 100% test coverage."
**UPDATE Scroll down to the latest comments to find a list of the remaining bot files not at 100% coverage.**

**NOTE: All striked-through bots have been deprecated, all checked bots have been given tests. See the comments for more information on how to proceed.**

We have a couple bots in `zulip_bots/zulip_bots/bots` that are untested:

~~- [ ] commute~~
~~- [ ]  foursquare~~
~~- [ ] git_hub_comm

[2017-09-22 23:36] swekshajha12 commented on #122
@zulipbot claim

[2017-09-26 06:57] neiljp commented on #55
This continues to be worked on in one commit in #66.

[2017-09-26 17:46] derAnfaenger opened #127 "mypy: Fix erroring files."
## Background

We have recently added mypy support to this repo, but many files are corrupted and throw errors on mypy.

## Task
#126 updates the `exclude_list` in `tools/run-mypy` Each file in this list errors on mypy. We should fix each file and remove it from the list. **`zulip_bots/zulip_bots/bots` is an exception**, we don't enforce mypy annotations in this directory.

*This task is great for

[2017-10-04 13:15] derAnfaenger commented on #49
`https://github.com/derAnfaenger/err-backend-zulip/pull/1` adds a Zulip plugin for ErrBot to my personal repo.

[2017-10-06 02:47] alenavolk commented on #127
@zulipbot claim

[2017-10-06 13:27] derAnfaenger commented on #6
@neiljp is there anything more you can think of that can be done here other than #125 did?

[2017-10-06 15:59] derAnfaenger commented on #11
I think I now understand the `__init__.py` API codepaths and would like to take this up.

From how I see it, we could implement this by providing `do_api_query` with some argument `call_on_delay` that gets executed as an async thread if n seconds have passed without a response from `session.request`.

We could then build on this to support it for out bot system.

I fail to see how things like sche

[2017-10-06 16:36] showell commented on #11
I keep trying to persuade folks not to use the threaded approach, but it's probably worth somebody trying it to prove me wrong, and if I'm wrong, so be it.

The request timeout mechanism would be useful in a single-threaded model.  If you maintain a priority queue of upcoming events (easy to do with help from Python libraries), then it's easy to just do everything in a single thread.  The only tim

[2017-10-06 18:08] alenavolk commented on #127
@derAnfaenger There's a bunch of files on that list that don't cause errors in my case (I tried removing them and running `./tools/run-mypy`):
[code]
Could this be because `mypy` works differently with different Python versions? I use Python 3.6.

[2017-10-06 18:10] derAnfaenger commented on #127
Possible. We have a fixed version of mypy in the virtualenv that should work the same for everybody, are you using that one (0.521)?

[2017-10-06 18:13] alenavolk commented on #127
@derAnfaenger Yep.

[2017-10-06 18:28] alenavolk commented on #127
@derAnfaenger Do these files still cause errors if you run `./tools/run-mypy` without excluding them? If so, could you specify what version of Python you have?

[2017-10-06 18:51] derAnfaenger commented on #127
Hrmm, this is strange: `zulip_git_config.py` contains no annotations at all and should therefore be caught by  `--disallow-untyped-defs`, but it doesn't. Adding `--disallow-untyped-calls` as an argument catches the file, but also a bunch of other files not yet in the exclusion list.

I'd say that you should feel free to remove the files not caught by mypy, since there hasn't been any breaking chan

[2017-10-06 19:10] alenavolk commented on #127
@derAnfaenger Hm, interesting. I'll focus on the rest of the files then. Thanks for the feedback!

[2017-10-10 00:08] alenavolk commented on #127
Just a quick update. I managed to reproduce the errors from all excluded files by deleting the `.mypy_cache` dir from the project root.

[2017-10-11 05:34] timabbott commented on #127
@alenavolk ahh, that's unfortunate -- I would have thought mypy's caching would be smarter than that.  Well, at least now you can start working on fixing the errors :)

[2017-10-11 21:11] alenavolk commented on #127
Does it really make sense to annotate [zulip/integrations/perforce/git_p4.py](https://github.com/zulip/python-zulip-api/blob/master/zulip/integrations/perforce/git_p4.py)? It looks like a temporary solution that might get deleted (or replaced with a later version) in the future.

[2017-10-18 07:22] jayvdb commented on #49
Note ^ is now https://github.com/zulip/errbot-backend-zulip

[2017-10-25 23:16] timabbott opened #138 "Pass both raw content and stripped content to bots"
Some bots will want access to the entire message, others to just content after the mention.  We should respect this by just providing both the raw content of the message as well as the content after the mention, probably as `content` and `content_after_mention`.  That way, bots can interact with either or both according to what makes sense for the bot.

(As a sidenote, we probably want `content_af

[2017-10-25 23:16] timabbott commented on #138
This is based on feedback on chat.zulip.org, but @showell and @derAnfaenger FYI in case you have thoughts on this.

[2017-10-26 00:29] showell commented on #138
Seems kinda ugly, but I guess I understand the concern, as parsing it away is annoying, and I see why some folks will want the whole message.

[2017-10-26 07:56] derAnfaenger commented on #49
Should we close this to indicate that an integration is technically available and ready to use?

[2017-10-26 08:56] derAnfaenger opened #140 "Equip stateful example bots with exemplary storage models."
Currently, there are three stateful bots (bots using permanent storage): `virtual_fs`, `incrementor`, and `tictactoe`. Some of these might not use an optimal model for handling the storage. For example, the `tictactoe` bot currently stores one running game per user, whereas it might be better to store games on a topic/stream basis.

Since these bots serve as examples for new stateful bots, we shou

[2017-10-26 09:13] derAnfaenger opened #141 "Cache StateHandler store/retrieve requests."
### Context
Soon, our mock StateHandler for external bots is going to interact with a real database on a Zulip server, instead of locally storing values at runtime.

### Problem
While bots may access the information stored in the database several times when handling a message, we should keep the number of queries made to the server at a minimum.

### Possible solutions
* Do a single query fetch fo

[2017-10-26 18:04] timabbott commented on #138
I think it's not that ugly, because we're just passing a dict to the bots, so it's just an extra key there available for them to interact with.

[2017-10-26 18:06] timabbott commented on #49
Thanks for building this @derAnfaenger!  Sorta: I imagine any further cleanups will be tracked in the errbot integration's own repo.

But I think we should add an entry for this to Zulip's own /integrations page before we close the issue out.  Want to take care of that @derAnfaenger?  Basically requires an entry in `zerver/lib/integrations.py`.

[2017-10-26 19:01] derAnfaenger commented on #49
Yup, will do.

[2017-10-27 06:04] #127 closed

[2017-10-27 06:06] timabbott opened #142 "mypy: Clean out or report issues in mypy/typeshed for `type: ignores`"
Now that we've finished #127, it's worth doing a bit of work on the `type: ignores` in our mypy annotations, trying to fix upstream in typeshed anything where that's possible.

I don't want this issue to remain open forever, so we should happily close this as soon as we've done a sweep through our `type: ignore` entries.

@neiljp I feel like you'd probably be pretty effective at doing this.

[2017-10-27 16:24] #49 closed

[2017-11-07 10:04] derAnfaenger opened #147 "Flaskserver creates ExternalBotHandler copies on each new message."
The flask botserver currently creates a new ExternalBotHandler instance on each call to handle message.

Once #143 is merged, this will lead to StateHandler being reinstantiated over and over, fetching a bot's full state every time. We should make the flaskserver only keep one instance of each bot's handler for it's runtime.

[2017-11-07 13:06] #147 closed

[2017-11-10 18:09] roberthoenig opened #151 "[Feature proposal] Make bots announce their startup/shutdown."
Currently, when you deploy a bot, it silently listens on the server for incoming messages. You are not aware of the bot's activity unless  the bot's owner has told you.

The idea here is to announce the bots activity, e.g. startup and shutdown.

This can be implemented in various way and flavors, details should be discussed before making progress on this. Some ways could be:
* Have the BotHandler

[2017-11-13 08:25] derAnfaenger commented on #122
Update: All the original bots mentioned in this issue have either been deleted, deprecated, or given tests.

The next step here is to move the remaining bots in `zulip_bots/bots` to 100% test coverage. Currently, none of them is at 100%. Their coverage ranges from 50% - 95%, the mean is ~80%. Details can be found in the [codecov coverage report](https://codecov.io/gh/zulip/python-zulip-api/tree/ma

[2017-11-14 15:07] derAnfaenger opened #155 "Add docker file and instructions for running the flask botserver."
See discussion on Zulip: https://chat.zulip.org/#narrow/stream/bots/subject/xkcd/near/317963

The initialially proposed dockerfile with instructions can be found here:
https://gist.github.com/jmandel/9f3aeabf8b17292e66582657b46ed497

The steps would be:
* Build a Dockerfile that loads and automatically refreshes the flask botserver on file changes. (The file above can be used as a starting point).

[2017-11-15 17:51] neiljp commented on #142
@zulipbot claim

[2017-11-16 00:55] neiljp commented on #142
#157 Should cover most of this, I think?

I think I had a copy/paste issue, as the work on generate_manifest.py I intended to link to
python/mypy#1747, which was my reported issue; the corresponding PR I just worked on is python/mypy#1748.

[2017-11-16 00:58] timabbott commented on #142
Yeah, this seems good enough for this issue (though of course you're welcome to contribute fixes upstream to clean this out further!).  Thanks @neiljp!

[2017-11-16 00:58] #142 closed

[2017-11-18 16:58] #141 closed

[2017-11-20 16:35] derAnfaenger opened #161 "Migrate Google calendar bot."
https://github.com/zulip/zulip/pull/2771 is a PR for adding a Google Calendar bot.
The PR is big, and has potentially the most comments any PR in the Zulip project ever had.

We should:
* Copy the PR's code and create a new Google Calendar bot in this repo.
* Test the bot. If it works, we should just merge it. Then, people can collaborate on code-style issues, adding tests, etc.

[2017-11-20 17:59] showell opened #162 "Improve third-party config file scheme for external bots."
We should not have bot_lib ever read third-party configuration data out of source-controlled files.  We should instead require users to make their own config files that they can put somewhere outside the source tree, most likely in their home directory.

What we can do is provide a template file for the users, like giphy.conf.template.

[2017-11-20 21:57] showell opened #164 "Don't throw RuntimeError in the API."
The API should avoid throwing RuntimeError exceptions for things where more specific exceptions are appropriate.  At a bare minimum, we should change RuntimeError -> ZulipError (and create the latter).  We may also want to make sure we throw more custom exceptions for common problems like not specifying a config file, and they could inherit from ZulipError.

[2017-11-21 10:23] rht commented on #106
I tried running the mirror a while ago, found the USAGE content to be sufficient
to get me running. I modified the code so that 1. being an api-super-user is no
longer required, 2. it redirects the IRC messages to a hardcoded topic in a
hardcoded stream (this can be quickly patched as options to the current code
if necessary). Basically it is a one-liner of:
`./irc-mirror.py --irc-server=irc.freen

[2017-11-21 17:16] timabbott commented on #106
The bidirectional model that we have in mind with this script historically is just running 2 copies (after presumably patching it to make that commented out section an option).  If you look at `zephyr_mirror.py`, it runs 2 copies of `zephyr_mirror_backend.py` with different options, one for each direction; that system is quite reliable.

The 30m timeout issue with the current library is annoying,

[2017-11-22 02:08] rht commented on #106
Yeah, I forgot to tell that I did also attempt to run two specialized scripts -- one for forwarding to IRC (zulip-irc-receiver), another for forwarding from IRC (zulip-irc-sender). This works for up to 30 min only though, after which they have to be restarted again.

[2017-11-27 20:15] showell opened #171 "Make bots check their API keys at startup time."
For bots like giphy, it might make sense to validate API keys right in the `initialize` function after loading config info, just by sending a quick request to the third party server.  This can prevent the embarrassing thing of launching a bot and have people test it before you realize your API key is wrong or out of date, or whatever.

I think it's fine to just do this in on bot-by-bot basis.

[2017-11-27 21:02] aero31aero opened #172 "github_detail: Limit bot to 5 requests per message."
It is theoretically possible to run the bot like:

[code]

but this operation would take a lot of time to complete, and is not a real world scenario. Thus, we should rate limit this bot to 5 issues or PRs per message.

[2017-11-27 21:05] aero31aero opened #173 "followup: Provide help text as a reply."
Unlike most other bots, followup bot doesn't supply a help text on running `@botname help`.

On sending `help`, we should respond only with the help text of the bot stop the control flow there.

[2017-11-27 21:07] aero31aero commented on #172
@zulipbot label "bite size"

[2017-11-27 21:07] aero31aero commented on #173
@zulipbot label "bite size"

[2017-11-27 21:10] aero31aero opened #174 "followup: Allow changing default stream."
Currently, the followup bot expects to have a stream `#followup` with write access. This parameter should be modifiable via either a config file like in github_detail bot or some other method.

Pseudo code for the logic:

[code]

[2017-11-27 21:11] aero31aero commented on #174
@zulipbot label "bite size"

[2017-11-27 21:18] aero31aero opened #175 "Multiple bots can simultaneously use same config."
Currently, it is possible for multiple bots to run simultaneously using the same config file. We should find a way to ensure that only one bot can use one zuliprc file at a time.

Example chat log:

[code]

[2017-11-27 21:18] showell commented on #172
We should probably do this on a bot-by-bot basis, since the amount of work that a bot has to do with denial-of-service messages largely depends on the nature of the bot.  A good use case is the giphy bot.

[2017-11-27 21:20] showell commented on #175
This is going to be a pretty big project.  It might not actually be a ton of code to write, but we'll want to think through the best mechanism here of having only one bot run at a time.

[2017-11-29 10:23] roberthoenig commented on #162
@showell can this be closed with https://github.com/zulip/python-zulip-api/commit/536ba1843a9faf2ff139f06b917f67d3ee8edd3f?

[2017-11-30 00:15] showell commented on #162
oh, yep, absolutely

There is some follow-up work to do here, but it will come up organically.

Closing.

[2017-11-30 00:15] #162 closed

[2017-11-30 19:28] roberthoenig opened #187 "Fully move zulip_bots to Python 3."
We have dumped Python 2 support for the zulip_bots and zulip_botserver packages. I am opening this issue to track progress on converting remaining code shreds from Python 2 legacy support to Python 3 only.

- [x] - move all shebangs from `#!/usr/bin/env python` to `#!/usr/bin/env python3`
- [ ] - move remaining six imports
- [ ] - remove any python 2-related checks.

Feel free to comment additiona

[2017-11-30 19:33] roberthoenig commented on #187
@fredfishgames assigning you for the first checkbox :) When you submit your PR, mention this issue in the PR description.

[2017-12-04 22:58] Ivche1337 commented on #161
@zulipbot claim

[2017-12-04 23:26] Ivche1337 commented on #161
https://github.com/zulip/python-zulip-api/pull/198

[2017-12-05 19:38] nkmishra1997 commented on #174
@zulipbot claim

[2017-12-05 21:00] nkmishra1997 commented on #174
I tried to follow what has been done in github_detail bot.
I created a stream_detail.config file and in the followup.py, I tried something like this:
[code]

But, in the `handle_message` function, when i did `default_stream = self.default_stream`, the tests failed with error `AttributeError: 'FollowupHandler' object has no attribute 'default_stream'`

So I decided to load config inside the `handle

[2017-12-05 21:45] nkmishra1997 commented on #174
I think I have figured it out. I have created `initialize()` in `followup.py` and in the `test_followup.py` , I have called self.initialize_bot() to initialize the same. This is how it is mentioned in the documentation.
I have created a PR for the same.

[2017-12-06 14:08] nkmishra1997 commented on #173
@zulipbot claim

[2017-12-06 21:04] nkmishra1997 commented on #173
The current Help Text is

I think we can update this as well once the #200 is merged:

[2017-12-07 02:47] aero31aero commented on #173
Sounds good to me. :)

[2017-12-09 23:06] #55 closed

[2017-12-10 13:30] #173 closed

[2017-12-10 13:30] #174 closed

[2017-12-11 15:50] showell commented on #175
I edited the title to more clearly reflect what's happening here.  @aero31aero Does my re-wording make sense?

[2017-12-13 14:31] palash25 commented on #122
@zulipbot claim

[2017-12-14 11:13] nkmishra1997 commented on #172
So for the `github_detail` bot, shall I limit the bot to 5 requests per message? Is there any other way than to randomly limit the number of messages for different bots?

[2017-12-14 11:18] showell commented on #172
5 requests is a good number for github_detail

[2017-12-14 11:21] nkmishra1997 commented on #172
Ok so I will work on this now for github_detail.
@zulipbot claim

[2017-12-15 04:52] ShaheenMTF opened #240 "Hello_Sun"

[2017-12-15 04:54] ShaheenMTF commented on #240
[GRETCH's resume.pages.zip](https://github.com/zulip/python-zulip-api/files/1561622/GRETCH.s.resume.pages.zip)

[2017-12-15 04:54] #240 closed

[2017-12-17 20:14] starlord1311 commented on #122
@roberthoenig can i take up this issue?

[2017-12-18 02:53] palash25 commented on #122
@starlord1311 no I'm working on it if I can't complete it in the next 5 days I will be unassigned and then you can try

[2017-12-19 09:33] KannaRaghava commented on #122
@zulipbot Claim

[2017-12-19 19:41] #172 closed

[2017-12-20 12:36] sibasish14 commented on #187
@roberthoenig can I work on this issue for the first check?
I have to change the `python` to `python3` in all shebangs of `zulip_bots` and `zulip_botserver` packages right?

[2017-12-21 04:51] neiljp commented on #142
For the record, the correct links I reported and which are now fixed were in python/typeshed, not python/mypy. I'm just putting together a PR which removes these ignores and upgrades to mypy 0.560.

[2017-12-22 15:04] fredfishgames commented on #187
@sibasish14 We decided to do this for `zulip_bots`, but not the test scripts. @showell did it in [this commit](https://github.com/zulip/python-zulip-api/commit/fd069dff82b98785ea23183f7f5313c782351474).

[2017-12-22 16:08] sibasish14 commented on #187
Ok @fredfishgames
Can you suggest any other issue though? I'm a beginner by the way.
Or should I look for a beginner issue in the main zulip repo?

[2017-12-22 16:10] showell commented on #187
We can actually change the test scripts that pertain to zulip_bots.

(My earlier comments were probably me just being cautious until we were sure, but I'm confident now that we want to make the move.)

[2017-12-22 20:19] Shivamgera commented on #171
I want to work with this issue. Can you please guide me?

[2017-12-22 21:40] showell commented on #171
I would start with gihpy, following my suggestions above.  You can ask for help on the "integrations" stream on chat.zulip.org.

[2017-12-24 13:57] sibasish14 commented on #187
@showell  you want `python3` shebangs to be introduced in the `zulip_bot` test scripts? So can I do that?

[2017-12-25 06:11] sibasish14 commented on #187
@showell waiting for your reply :)
If you could please tell me if you wanted to proceed ahead, I could start working. Else I'll look for some other issue :(

[2017-12-25 07:13] neiljp commented on #187
@sibasish14: @showell may well be away for the holidays right now, so you might want to wait a few days at least - is there something else you can work on?

[2017-12-25 07:52] sibasish14 commented on #187
@neiljp : may be I'll move on to some other issue for now. But I'll start working on this one once @showell gives me the green signal ;)

[2017-12-25 14:35] showell commented on #187
yes, python3 shebangs for the zulip_bot test scripts would be good

[2017-12-25 23:33] sColin16 commented on #151
@zulipbot claim

[2017-12-26 02:33] skunkmb commented on #151
@jirabot claim

[2017-12-26 08:15] sibasish14 commented on #187
@showell I'll get to work.

[2017-12-26 13:17] #138 closed

[2017-12-26 13:57] sibasish14 commented on #187
Can someone please have a look at https://github.com/zulip/python-zulip-api/pull/259 ?

[2017-12-28 21:24] showell commented on #171
We have updated giphy, and it's probably a good model for other third-party bots:

https://github.com/zulip/python-zulip-api/commit/6121002b351a5016150299d22a84e937d9ae35a4

[2017-12-29 07:13] ViRu-ThE-ViRuS commented on #171
Can I help? What bot(s) should I take up?

[2017-12-29 08:16] ViRu-ThE-ViRuS commented on #171
@zulipbot claim

[2017-12-29 08:16] ViRu-ThE-ViRuS commented on #171
@zulipbot claim

[2017-12-29 14:10] ViRu-ThE-ViRuS commented on #171
Done all the maintained bots.

[2017-12-30 07:47] ViRu-ThE-ViRuS opened #272 "Improve Tests for Baremetrics Bot."
The current tests do not accurately simulate the real world scenarios for the bot. It would be great if we use the test responses supplied on the baremetrics API documentation as fixtures. These contain actual data for "list-plans", etc., so these tests would verify that the bot works correctly with "real" data.

This was on suggestion of @roberthoenig

[2017-12-30 08:09] ViRu-ThE-ViRuS commented on #272
@zulipbot claim

[2017-12-30 17:02] roberthoenig commented on #171
We got a good batch of bots covered with checks now. The next step is to find some general pattern in these verifications, and apply it to the implemented verifications. After that, all remaining bots using APIs should be updated.

[2017-12-30 23:00] skunkmb commented on #151
Since more discussion is needed before merging, but I'm currently going to run out of time on the Google Code-in task, Eeshan Garg has instructed me to claim this and "abandon" the task on the GCI interface. That means that this task may appear as "available."

To any future students sent here, **I am still actively working on this** (until future notice). I am coming back to this task after more

[2017-12-30 23:01] skunkmb commented on #151
@zulipbot claim

[2017-12-31 10:48] ViRu-ThE-ViRuS commented on #122
@zulipbot claim

[2017-12-31 10:49] ViRu-ThE-ViRuS commented on #122
I am starting work right away. :-)

[2017-12-31 13:11] showell commented on #171
I'm gonna close the general issue for now, and we can open up more specific tickets if we see bots not doing this, or if we have follow up tasks that are more infrastructure-related.

[2017-12-31 13:11] #171 closed

[2017-12-31 14:55] showell commented on #187
The PR #277 will close this once it's merged.  We may have additional steps to kill off py2 for bots in the future, but this ticket is starting to create confusion, since most of the tasks have been already completed.  Folks should feel free to open more specific tickets about python2 pitfalls as they come up.

[2017-12-31 15:16] showell commented on #272
Closing this via #273

[2017-12-31 15:16] #272 closed

[2018-01-02 14:39] KannaRaghava commented on #121
I would like to take up this issue. Let me know whether it is available or not?

[2018-01-02 15:21] roberthoenig commented on #121
@KannaRaghava it's available, you can work on it :)

[2018-01-02 16:38] #187 closed

[2018-01-02 18:50] KannaRaghava commented on #121
Thank you. Let me know the more about the issue and where can I start?

[2018-01-03 08:19] roberthoenig commented on #121
You can find the log2zulip integration under python-zulip-api/zulip/integrations. I'd first try to get it running, then add the documentation file, and then work on the other bullet points, adding the cron job and a sample configuration file.

[2018-01-03 13:19] showell opened #283 "Consolidate game-playing bots"
We have at least three bots related to two-player games: chess, tictactoe, connectfour.

We should try to consolidate some of the code related to two-player games, so that it's easy to create future two-player games without duplicating logic for inviting players to games, managing message flow, etc., that is really the same for all two-player games, apart from small details that could be delegated

[2018-01-03 13:49] KannaRaghava commented on #121
Okay sure. I will do that

[2018-01-05 14:19] fredfishgames commented on #283
@zulipbot claim

[2018-01-05 14:20] fredfishgames commented on #283
@zulipbot claim

[2018-01-05 18:54] Shivamgera commented on #164
I would like to take this issue. Can you please guide me?

[2018-01-05 19:05] showell commented on #164
You should be familiar with Python exceptions to work on this, and we basically want to create a custom exception called ZulipError and raise that everywhere in `zulip/zulip/__init__.py` that we now raise `RuntimeError`.  And then, like the description suggests, for some of the exceptions that are environmental in nature (like files missing), create more specific exception classes.

[2018-01-06 14:23] ViRu-ThE-ViRuS commented on #164
Please add a priority to this issue.

[2018-01-06 14:25] ViRu-ThE-ViRuS commented on #122
Any updates on this? Most of the uncovered portions are due to `try/except` blocks. Writing test code for will be a pretty big task. How should we proceed?

[2018-01-06 15:35] roberthoenig commented on #164
@ViRu-ThE-ViRuS I'd say that this issue has a low-medium priority. The thing is that it might not be wise to add a tag indicating a low-medium priority when most issues don't have tags, because it's likely to never get worked on.

[2018-01-09 18:43] glyph opened #293 "zulip 0.4.0 lists runtime dependency on `mock`"
0.3.9 didn't; this should probably not be required except for testing.

[2018-01-09 19:07] roberthoenig commented on #293
Thanks for the report @glyph! @eeshangarg FYI. This change came along with my recent commits to the packaging. `mock` should be only a dependency for the developer install.

[2018-01-09 20:31] #293 closed

[2018-01-09 20:32] eeshangarg commented on #293
@glyph: Thanks for reporting this! Fixed in #294 :)

[2018-01-15 15:30] fredfishgames commented on #283
- [x] Create game adapter to support multiple games
- [x] Implement new game adapter to connect_four
- [x] Write tests for game adapter
- [x] Write tests for connect four
- [ ] Create test library
- [x] Migrate tictactoe
- [ ] Write tests for tictactoe
- [ ] Migrate chess
- [ ] Migrate merels
- [ ] Create documentation
- [ ] Add more specific error messages for games

[2018-01-17 10:43] roberthoenig commented on #151
Closing this in favor of #8090.

[2018-01-17 10:43] #151 closed

[2018-01-19 16:15] fredfishgames opened #304 "Improve tests for game_handler."
game_handler is used by game bots to make turn based games.

There are `connect_four` tests, but they are all written from scratch, and are quite messy.
There are few `tictactoe` tests.

There should be a test case for game_handler games, which would make it simpler to make tests for games, and all the games should have 100% coverage.

[2018-01-19 16:15] fredfishgames commented on #304
@zulipbot claim

[2018-01-19 16:52] fishfred opened #305 "Port merels to game_handler"
(advanced) `merels` needs to be ported to game_handler, which is the new library used for games so that they can be made easily. It is not like any of the other games (tictactoe and connect four), so game_handler will probably have to be modified for it to work. Feel free to message me in #integrations if you have any questions about game_handler.

[2018-01-19 16:52] fredfishgames opened #306 "Port chess to game_handler"
`merels` needs to be ported to game_handler, which is the new library used for games so that they can be made easily. It is not like any of the other games (tictactoe and connect four), so game_handler will probably have to be modified for it to work.

[2018-01-24 10:08] rusrushal13 opened #310 "Test keep Failing"
I wanted to contribute to the repo so I started setting up the environment and every time I run tests, one test kept failing.
Logtrace:
[code]

Can somebody can explain to me what is happening here?

[2018-01-24 10:18] roberthoenig commented on #310
@rusrushal13 thanks for the report! I'm getting the same error in my dev env. Looking into it..

[2018-01-24 10:20] roberthoenig commented on #310
Fixed by #308. @rusrushal13 can you update your repo and run the tests again?

[2018-01-24 10:20] #310 closed

[2018-01-24 10:45] rusrushal13 commented on #310
Cool, now it's running fine. Thanks 😃

[2018-01-24 10:52] rusrushal13 commented on #155
I can't see the discussion, can you please look for the link.

Also the proposed dockerfile seems fine to me. What changes can I produce?

[2018-01-24 19:35] roberthoenig commented on #155
@rusrushal13 the name of the stream where this discussion took place changed, so the link got invalidate. Here is the updated one: https://chat.zulip.org/#narrow/stream/bots.20(deprecated)/subject/xkcd/near/317963

The given dockerfile should work for a normal docker deploy. However, additionally we'd like to have the dockerfile automatically refresh the flask botserver, whenever a bot's code gets

[2018-01-27 21:18] Shivamgera commented on #164
@showell I'm getting AssertionError in The Travis CI [build](https://travis-ci.org/zulip/python-zulip-api/jobs/334193463). Can you please guide me on that?

[2018-01-29 09:57] roberthoenig commented on #164
@Shivamgera I explained Travis failing in a comment on your PR.

[2018-01-30 10:01] salman-bhai commented on #122
@roberthoenig is this Issue still under Progress?

[2018-01-30 10:04] roberthoenig commented on #122
@salman-bhai this issue can be worked on by multiple people - claims with zulipbot do technically not make a lot of sense. Feel free to just choose a bot and improve its test coverage :)

[2018-01-30 19:22] Shivamgera commented on #164
@roberthoenig Thank you for your suggestions. I've made the changes accordingly, kindly review it.

[2018-01-31 20:28] AmAnAgr commented on #122
@zulipbox Claim

[2018-01-31 20:28] AmAnAgr commented on #122
@zulipbot claim

[2018-02-01 10:38] salman-bhai commented on #122
Alright @roberthoenig thanks a lot !

[2018-02-01 11:02] AmAnAgr commented on #122
@zulipbot claim

[2018-02-02 12:26] showell commented on #122
re-opening

[2018-02-02 12:49] amanagr commented on #122
@zulipbot claim

[2018-02-02 16:47] amanagr commented on #122
@zulipbot abandon

[2018-02-03 15:17] amanagr commented on #304
@fredfishgames are you still working on this?
Can I take this?
I think this is an extension to #122 which I am doing currently.

[2018-02-03 21:00] fredfishgames commented on #304
I don't have much time to work on it at the moment, so feel free to take it.
Let me know if you have any questions about game_handler

[2018-02-04 06:15] amanagr opened #315 "Make game_handler work using zulip_terminal"
Currently **tictactoe** and **connect_fout** bots are not working using the `zulip_terminal <bot-name>` method.
It raises following error for `$ zulip_terminal tictactoe`:
[code]

[2018-02-05 14:22] roberthoenig commented on #315
Thanks for the report @amanagr!

[2018-02-06 18:28] rathnaviraj opened #319 "Avatar Upload"
I've used the same implementation of upload_file to upload avatar image of a user bu changing the URL

``    def set_avatar(self, avatar):
        return self.call_endpoint(
            url='users/me/avatar',
            files=[avatar]
        )

But client get "Could not decode image; did you upload an image file?" message from from server api. But the upload functionality via web application is

[2018-02-07 09:31] roberthoenig commented on #319
@rathnaviraj assuming you have double-checked that your file `avatar` actually exists, this looks like the Python code isn't encoding the image correctly. Can you show the proceeding code that assigns the image to `avatar`?

[2018-02-07 17:24] rathnaviraj commented on #319
@roberthoenig Thanks for the response. Yes, I've confirmed the existence of the file. Initially I thought this might be a new feature implementation or bug since API client doesn't provide function to upload avatar image. So, as mentioned above I've adopted the default file upload function to be used as avatar upload also. But I just suspected that whether there might be any additional headers to

[2018-02-15 05:58] amanagr commented on #305
@zulipbot claim

[2018-02-15 09:15] roberthoenig commented on #122
Here is a list of remaining bot files not at 100% coverage:
* zulip_bots/zulip_bots/bots/connect_four/controller.py 99%
* zulip_bots/zulip_bots/bots/youtube/youtube.py 99%
* zulip_bots/zulip_bots/game_handler.py 99%
* zulip_bots/zulip_bots/bots/baremetrics/baremetrics.py 98%
* zulip_bots/zulip_bots/bots/giphy/giphy.py 98%
* zulip_bots/zulip_bots/bots/salesforce/salesforce.py 98%
* zulip_bots/zulip

[2018-02-15 17:05] scottrus opened #322 "mercurial zulip-changegroup.py hook fails when importing zulip"
Tested on Python 2.7.x with Mercurial 4.5 and python-zulip-api 0.4.1

[code]

here is the traceback

[code]

[2018-02-15 17:08] scottrus commented on #322
The fix I have is to import mercurial first and disable demandimport. There are some minor fixes needed in get_config() to handle optional config values like `branches`, `ignore_branches`, and `web_url`. Finally the summary contains the wrong `rev` number for the `changeset` as it's off by one.

Maybe those other things should be separate issues? For now I'll make a PR to fix all three things and

[2018-02-16 08:47] roberthoenig commented on #322
Thanks for reporting this @scottrus! Left some comments on your PR.

[2018-02-16 14:09] showell commented on #283
@amanagr How hard do you think it would be to make the GameHandler for multi-player games?

[2018-02-16 14:46] amanagr commented on #283
I am working on it, will update in 2-3 days.

[2018-02-16 20:24] showell commented on #122
Do the ones at 97%-plus coverage have some common thing missing?

[2018-02-20 09:34] amanagr commented on #305
@zulipbot abandon

[2018-02-27 13:23] showell opened #329 "Make game handler bots take shorthand moves. (e.g. connect four)"
It's kind of tedious to say "move 7" when you're playing connect four.  We should probably allow just "7" as the command, and the game handler can have an option to assume numbers correspond to moves.

[2018-02-27 13:28] #305 closed

[2018-02-28 13:42] showell opened #330 "Add "show rules" support to game_handler.py."
For things like connect four, there should be a quick way to learn the rules of the game. We could probably make this mandatory for all games that use game_handler.py, since you can always link somewhere on the web for more complicated games.

Something simple is usually good--for connect four, just say "Try to get four pieces in a row.  Diagonals count, too!"

[2018-03-01 10:54] Kumar-Tarun commented on #330
@showell I'm taking this issue.

[2018-03-04 05:48] DhruvThakker commented on #329
@zulipbot claim

[2018-03-08 13:11] showell opened #336 "Use avatars, not emails, in game handler messages."
We have an undocumented, but well supported, syntax for avatars:

[code]

We should use this in the game handler for game chat bots.

[2018-03-08 21:49] Shivamgera commented on #336
It seems we'll have to use ```!avatar (self.get_user_by_email)``` instead of ```self.get_user_by_email(opponent)['full_name']``` in ```game_handler.py```. Correct me, if I'm wrong, should I proceed with PR otherwise?

[2018-03-08 22:10] Shivamgera commented on #330
@Kumar-Tarun Are you still working on this issue? @showell I guess the task here is to define a function in ```game_handler.py``` to briefly show the rules of all the games that use ```game_handler.py``` like connect four, tictactoe, etc. Can I work on this if @Kumar-Tarun  is not working?

[2018-03-09 12:23] aero31aero opened #338 "Task list for tools/deploy."
This issue tracks the initial tasks with the tools/deploy script, of which some would tie in to adding further functionality to the server. `tools/deploy` itself is stable, however the corresponding server is being worked on right now and is pretty buggy. Usage instructions are on #337 right now.

- [ ] Annotate `tools/deploy` using mypy.
- [ ] Document `tools/deploy` usage. This should be done on

[2018-03-09 18:52] Kumar-Tarun commented on #330
@Shivamgera Yep, I've submitted a PR of game of fifteen, which has one commit incorporating that change :)

[2018-03-10 11:54] showell commented on #336
If `opponent` is the email, then it should be something like `'!avatar ({opponent})'.format(opponent)` (untested).  Go ahead and proceed with the PR!

[2018-03-10 12:59] DhruvThakker commented on #329
@zulipbot abandon

[2018-03-10 13:02] showell commented on #329
I merged some changes for this, so closing.

[2018-03-10 13:02] #329 closed

[2018-03-10 20:33] Shivamgera commented on #336
@zulipbot  claim

[2018-03-10 20:34] Shivamgera commented on #336
@zulipbot  claim --force

[2018-03-12 12:31] DhruvThakker opened #343 "Issue with move 0 in connect_four and TicTacToe"
```move 0``` input should give invalid move in both these games but this command currently leads to a valid move.

[2018-03-15 10:09] Rishabh570 commented on #336
@zulipbot claim --force

[2018-03-20 22:57] noemartinez opened #351 "Add file upload access to the bot API"
A full-fledged Client python object has [```upload_file()```](https://github.com/zulip/python-zulip-api/blob/master/zulip/zulip/__init__.py#L665), but [a bot's API exposed via bot_handler](https://zulipchat.com/api/writing-bots#bot-api) doesn't currently include that method.

While there are non-ideal ways to access that method from a bot's ```handle_message```, it would be nice to have it properl

[2018-03-21 12:30] #343 closed

[2018-03-21 12:31] #336 closed

[2018-03-26 16:16] noemartinez opened #356 "Automatically add a bot handler's parent dir to the python path"
The existing ```zulip-run-bot``` support for running a python file directly (instead of an existing bot in zulip_bots by name) works pretty well:

[code]

The only small inconvenience is that by default the bot can't import sibling python packages in the same directory as the bot's handler file that is being run. Could we automatically add the handler's parent dir to python's path as part of the `

[2018-03-26 16:18] noemartinez opened #357 "Add a better way to run standalone bots"
```zulip-run-bot``` currently supports running a bot in two ways:

1. By name, assuming it exists in the ```zulip_bots``` directory in a local clone of ```python-zulip-api```
2. By an explicit path to the bot's handler .py file, regardless of where it lives

Neither of those two ways feels 100% well suited for running a standalone bot (a bot not meant to be contributed back or deployed as part of

[2018-03-26 16:20] noemartinez opened #358 "Document the recommended way(s) to run standalone bots"
The only way of running bots [currently captured in the docs](https://zulipchat.com/api/writing-bots#adding-a-bot-to-zulip) is to clone ```python-zulip-api```, put the bot in ```zulip_bots/zulip_bots/bots``` and run it by name using ```zulip-run-bot```.

For quick bot prototyping, and for writing bots that are meant to always remain standalone (not meant to be contributed back to or deployed as pa

[2018-03-26 17:41] timabbott commented on #358
See also #356 as something we might want to document in the meantime.

[2018-03-28 10:46] showell commented on #351
We should expose `upload_file` at this point.

[2018-03-28 21:37] showell opened #359 "bots: Make StateHandler lazy and only do `get` one key at a time."
We should not call `self._client.get_storage()` in `StateHandler.__init__`.  Instead, for each call to `StateHandler.get()`, we should call the API for just the key we need.

We should consider eliminating `self._state` altogether, or at least just use it for keys that we have already gotten.

[2018-03-29 15:21] SivagiriVisakan commented on #351
@zulipbot claim

[2018-04-02 17:47] SivagiriVisakan opened #367 "link shortener bot: Switch from Google URL shortener service."
Google is shutting down its URL shortening service [goo.gl](https://goo.gl) and is replacing it with Firebase Dynamic Links.
Related post : https://developers.googleblog.com/2018/03/transitioning-google-url-shortener.html

The link_shortener bot is currently using this service to shorten URLs.
It would be good to migrate the bot from using Google URL Shortener to Firebase Dynamic Links or any othe

[2018-04-02 19:43] aliyareneekhan commented on #122
claim

[2018-04-02 21:18] rishig opened #368 "Document the migration process for Slack bots."
Many people considering moving from Slack to Zulip already have a set of custom bots they've written for Slack, and this can be a major blocker in moving them to Zulip. A migration guide would go a long way here.

[2018-04-02 22:35] kishanlp commented on #122
@zulipbot claim

[2018-04-15 10:12] punchagan opened #370 "Provisioning doesn't work with the latest version of `pip`"
Provisioning fails while setting up the package `zulip_bots` with an `AttributeError` for `pip.main` with the latest version (`10.0.0`) of `pip`.

[2018-04-16 19:16] #370 closed

[2018-04-26 05:36] novokrest commented on #367
@zulipbot claim

[2018-04-26 16:03] timabbott commented on #367
@synicalsyntax I think we wanted to turn off that check for the non-zulip.git repos, since those don't maintain their issue tracker with those labels as carefully...

[2018-05-02 23:25] aero31aero commented on #338
Better instructions:
https://gist.github.com/aero31aero/4a9e43641f047d983adb1e9a18e12f01

These should be used to prepare the final docs for the tools/deploy script.

[2018-05-03 23:39] #367 closed

[2018-05-07 00:12] neiljp commented on #330
A relevant commit appears to be merged; please confirm this can now be closed? @Kumar-Tarun @showell

[2018-05-07 06:46] amanagr commented on #283
Yeah! #324 (Port Merels) and #325(Playing the game with a range of players) are already merged. Maybe I can work more on it after Summer.

[2018-05-08 18:56] #359 closed

[2018-05-09 09:58] novokrest commented on #356
@timabbott I added another PR #382 to fix this issue. It is ready for review.

[2018-05-09 14:01] novokrest commented on #319
@rathnaviraj Hi! I added [example](https://github.com/novokrest/python-zulip-api/pull/4) of bot which can change own avatar. So, you can look one of the possible implementation of desired feature and try it. Hope it helps you :)

[2018-05-09 16:01] #356 closed

[2018-05-09 17:42] #330 closed

[2018-05-10 02:39] novokrest commented on #6
@roberthoenig I made a some research and it seems like there are bots that also need this fix. I works on this issue now and will prepare PR soon

[2018-05-10 02:44] novokrest commented on #319
@roberthoenig How do you think could we close this issue?

[2018-05-15 13:04] rheaparekh commented on #106
The current IRC gateway manages to run with two copies (for both side message forwarding) running. However all the Issues I identified were:

- Ping timeout for zulip-> IRC gateway (issue of the lib `jaraco/irc`, however they are planning to move to asyncio https://github.com/jaraco/irc/issues/135, with an open PR on it!)
- Message formatting isn't correct, the users sending the messages in Zulip

[2018-05-16 02:32] novokrest commented on #6
@showell I think we could close this issue now

[2018-05-18 19:14] novokrest commented on #322
The main problem is that `typing` module is not defined in Python 2.7.
From the above stacktrace:
[code]
That's why hook fails. I added [PR](https://github.com/zulip/python-zulip-api/pull/393) with simple fix.

[2018-05-18 22:42] timabbott commented on #322
Sidenote @novokrest -- do you know why this had such a weird traceback?

[2018-05-23 12:29] roberthoenig opened #399 "`event` objects for normal bots and outgoing webhook bots not identical."
[Relevant discussion on Zulip](https://chat.zulip.org/#narrow/stream/127-integrations/subject/botserver/near/585194)

## Issue

The Zulip server sends different `event` objects for "normal" bots and outgoign webhook bots. This could create issues when developers except their bot to work the same withthe Botserver and zulip-run-bot. Particularly important are the differences in `event['message']`,

[2018-05-23 17:45] roberthoenig commented on #399
For reference, here are two sample messages handled by a helloworld bot; one time through an outgoing webhook bot, one time through a normal bot:

* Outgoing webhook bot (internal Zulip-server `event` object):
[code]

* Normal bot:
[code]

[2018-05-23 18:00] timabbott commented on #399
I just edited the diff to suppress the message IDs and timestamps, since those aren't interesting.

I agree we should have the data passed into the bot framework to have identical structure.  Here's my thoughts on how to do that:
* We should remove `service_name` -- the whole `Service` concept shouldn't be user-facing.
* The bots library for the `zulip-run-bot` runner should compute `trigger` from

[2018-05-26 03:53] neiljp opened #402 "Bot tests are not being fully executed"
Noticed first when exploring the use of `pytest`, which should work with `unittest.TestCase` - but it couldn't find a bot dependency (`tweepy` for twitpost). Then I noticed that this bot was not even being tested!

Cases so far:
* tools/test-bots: **passes OK** with **270 tests** <-- what is seen in CI, presumably?
* tools/test-bots * each bot (scripted): **fails 5 times** with **283 tests**
* Som

[2018-05-26 03:54] neiljp commented on #402
@zulipbot claim

[2018-05-26 06:35] neiljp commented on #402
With some simplification and common methods for test discovery in `test-bots`, both `test-bots [bot-names-in-bots-dir]` and `test-bots` currently find **295** tests, with **11** failures.

This is after addition of many `__init__.py` files to bot directories, which the current discovery misses.

WIP PR incoming for this, likely tomorrow, though more work will be needed to fix the tests.

[2018-05-26 14:15] timabbott commented on #402
Awesome, thanks for discovering this!  I wonder what the right tooling method to prevent folks from adding bots without `__init__.py` files is...

[2018-05-26 20:14] novokrest commented on #322
@timabbott The traceback is a little weird because Mercurial imports modules by custom implementation of module's loader (defined in `demandimport2.py`). As can be seen from the traceback, there is error `ValueError: Attempted relative import in non-package`.  It is raised because we *don't* specify our changegroup's hook in `.hg/hgrc` *as module* (according  ) but rather as path to python file.

[2018-05-26 20:30] neiljp commented on #402
I'm currently working on fixing the bot tests.

I have an alternative solution for the test discovery which seems simpler in terms of identifying tests, though with the other issues found I will explore whether it is necessary.

Agreed that including detection of cases with no `__init__.py` files is definitely important to remedy!

[2018-05-26 22:17] neiljp commented on #402
So master has the following, with different test discovery for each:
* `test-bots` -> 270 tests pass
* `test-bots ``ls zulip_bots/zulip_bots/bots|grep -v __|grep -v bridge|grep -v fifte`-> 287 run, 5x E

So far my branch:
* fixes fifteen naming (for consistency, in case we want names to match, and to add `_`s)
* adds 3 missing `__init__.py` files for bots with good tests -> 288 tests from `test-bo

[2018-05-28 06:57] timabbott commented on #402
Splitting merels bot tests as a separate issue seems very reasonable.

I merged all but the last commit, since they seemed reasonable and worked for me.  Thanks for cleaning this up!

[2018-05-28 15:01] roberthoenig opened #405 "Properly handle bots that only work with new Python versions."
A bot may require a Python version greater than 3.x. Currently, however, all bots are expected to work with all versions of Python. In particular, Travis tests them for 3.4, 3.5 and 3.6. We don't yet have a proper way of dealing with such bots. An example is the `monkeytestit` bot. It uses the monkeytestit package, which works only with 3.5 and higher. Because this caused tests to fail, I pushed 6

[2018-05-29 00:28] neiljp commented on #405
This would also be useful if we merge something like #400, whose `async` tests do not currently work with 3.4, (though might with different function annotations).

[2018-05-29 18:12] timabbott opened #407 "Add an option to `provision` to include the packages from a given integration"
If we did this right, we could cut step 4 in the IRC/Matrix docs:

https://github.com/zulip/zulip/pull/9491#issuecomment-392735379

(We could just run `python3 tools/provision matrix` or something).

[2018-05-29 18:47] #322 closed

[2018-05-30 12:05] showell opened #409 "Remove or streamline the converter bot."
@roberthoenig We may want to remove the converter bot, as per our chat conversation.  Or maybe just streamline a bit, so it's optimized for somebody just wanting to learn how to write a really basic bot.

[2018-06-02 07:28] novokrest opened #414 "Bot config file is not parsed"
There is bug in parsing bot's config file in `lib.py` on 202th line:
[code]
Must be changed to `config_parser.read_file(conf)`

[2018-06-02 10:32] showell opened #417 "Clean up or archive/delete game bots"
The "chess" and "merels" bots have a lot of code, but we don't really have any community around them, so it's questionable whether we should maintain them.  If you're interested in this ticket, you might want to try running the bots on czo and see if folks enjoy playing the games and determine whether any bugs are worth fixing.  If the bots aren't worth the upkeep, we should make a decision to del

[2018-06-02 17:33] #414 closed

[2018-06-10 04:43] amanagr opened #433 "Rework and enable tests for Merels."
Merels was ported to `game_handler` recently, but it's tests were not revised. They need to be reworked. Tests for `connect_four` bot can serve as good examples for how to modify the tests for Merels.

[merels.py](https://github.com/zulip/python-zulip-api/blob/master/zulip_bots/zulip_bots/bots/merels/merels.py) was totally changed so write new set of tests for it. Files in [libraries](https://gith

[2018-06-10 04:44] amanagr commented on #433
@zulipbot label "help wanted"

[2018-06-10 04:44] amanagr commented on #433
@zulipbot label "good first issue"

[2018-06-10 05:54] neiljp commented on #433
See the following for a good first commit to work from: https://github.com/zulip/python-zulip-api/pull/403/commits/bd945c3d5b7558864ecd2ab681a404cbaa63cb07

[2018-06-23 01:17] JordanTroutman commented on #433
@zulipbot claim

[2018-06-23 01:27] JordanTroutman commented on #433
@zulipbot claim

[2018-06-27 21:13] showell opened #445 "Renaming bots can break them."
I recently renamed one of my bots from "Steve's Trivia Bot" to "Steve's Giphy Bot", and the bot program stopped working (it was running giphy, I just hadn't bothered to rename it till later).  Once I re-started the program, it worked again.

I suspect this is a problem that affects many bots, and I just happened to see it with giphy.

I didn't investigate, but I think there's something going on on

[2018-06-28 07:18] shubhamdhama commented on #445
[code]
@showell I've tried the option `a)` and it's working properly, is there any possible case where the first mention don't belong to the bot.
Here is the image of this working:
![working](https://user-images.githubusercontent.com/22238472/42018981-618bf15e-7ad1-11e8-9446-b1d0f4e9179d.png)

[2018-06-28 11:54] showell commented on #445
It's plausible that somebody could mention two different users in a message to the bot, but I don't think it's actually going to happen in practice.

I'm not sure the regex needs to be quite as complicated here.

I'm starting to lean toward the idea that the server should parse this for us.

[2018-06-28 11:58] roberthoenig commented on #445
Slightly off context: Changes to a bot's email probably break it as well, only more dramatically?

[2018-06-28 12:01] showell commented on #445
I'm not sure what happens with email changes.  Most of the server-side code is smart about email changes, and I'm not sure we do anything bot-side with the email.

[2018-06-28 18:43] #122 closed

[2018-07-01 11:57] #351 closed

[2018-07-01 12:08] #357 closed

[2018-07-03 22:03] JordanTroutman commented on #433
Issue waiting for pull rquest

[2018-07-09 00:28] rht commented on #106
@rheaparekh the PR was merged on May 21 2018. Did this resolve the timeout issue?

[2018-07-27 18:31] showell opened #461 "Make giphy logo optional (when legal)"
For legal reasons our giphy bot shows a "Powered by Giphy" logo.

For users that sign up for Giphy accounts (presumably paid) that don't require the logo, we should have an option in the bot that turns off the powered-by logo.

The first step here is to track down the policy from Giphy and understand it to the best of your ability.

Then subsequent steps will be something like this:
* add config o

[2018-08-05 11:35] SivagiriVisakan commented on #461
As per the terms from Giphy, the "Powered by GIPHY" logo is required.

From the [docs](https://developers.giphy.com/docs/):

This applies even if one obtains a "Production API key"( A Production API key can make more number of requests than the normal API key. )

Infact, one of the conditions to obtain a "Production API key" is to display the attribution marks wherever the API is used.

GIPHY Deve

[2018-08-13 06:11] rht commented on #106
Confirmed that `irc.client_aio.AioReactor` fixes the timeout. I ran `./irc-mirror.py --irc-server=irc.freenode.net --channel='#python-mypy' --nick-prefix='irc_mirror' --site="https://chat.zulip.org" --user=irc-bot@chat.zulip.org --api-key=$API_KEY` again and had observed the 15-30 min disconnect become stable (1 hour and counting).

Then the remaining problem of running 2 scripts for each directio

[2018-08-28 20:32] dsolisherrera commented on #433
@zulipbot claim

[2018-08-28 21:00] dsolisherrera commented on #433
Hi @amanagr, is there a place where I can find documentation on this bot?
I was able to make the tests run based on the comment from neiljp. But I would like to see what it does and understand it before starting to modify the tests.

[2018-08-29 00:36] timabbott opened #476 "Write a nice wrapper for `GET /messages` that will loop and download a user or stream's history"
Now that we have documented the `get_messages` API, it'd be really good to write a simple sample tool that correctly implements Zulip's looped-pagination logic for fetching the entire history of a narrow and storing it locally in a JSON file.  We can advertise that as a simple data export tool using the API, and it also would serve as a nice demonstration of how to use the `anchor` logic correctly

[2018-08-29 04:07] amanagr commented on #433
There is no documentation for the Merels bot. You can look at comments and git history of the code for some. You should first try to understand how tests for other bots are written, then it will be a lot easier to grab this one.

[2018-09-13 12:15] Ar9av commented on #461
@zulipbot claim

[2018-09-14 12:46] mishari opened #477 "Cannot use config-file as a parameter"
[code]

But -c works fine

[2018-09-22 01:33] timabbott commented on #477
@mishari I'm not sure what the issuer is here; can you try testing different argument orders?  It's possible that the `--config-file` part needs to be earlier.

[2018-10-25 20:22] ujjwalrox opened #482 "tools/provision error with python3.6.7rc1"
Script is unable to convert this version to int.

[code]

[2018-10-25 20:22] ujjwalrox commented on #482
@zulipbot claim

[2018-10-26 22:38] glyph opened #483 "twisted support?"
I'd love a version of `call_on_each_event` that would not block, and instead register a callable with a reactor.

This could probably be combined with fairly general / framework agnostic async support by having the existing implementation be converted into a coroutine which `await`s different kinds of things (`treq` requests in the Twisted case, synchronously-returning coroutines that just call re

[2018-10-27 00:08] neiljp commented on #483
Would it be accurate to describe this as asking for non-blocking support in the python API?

[2018-10-28 07:07] ujjwalrox commented on #482
@zulipbot claim

[2018-10-31 23:32] #482 closed

[2018-10-31 23:43] timabbott commented on #483
I think @kcr's https://github.com/1ts-org/snipe/blob/master/snipe/zulip.py#L127 has some work that could be borrowed/extracted for this (since `snipe` is a Python cross-protocol IM client that uses asyncio).

[2018-11-11 12:29] JayjeetAtGithub commented on #476
Looks interesting ! @timabbott can u pls elaborate and tell me where to begin ?

[2018-11-12 05:46] JayjeetAtGithub commented on #476
Hi , @timabbott can u give me some idea how to approach the issue

[2018-11-19 22:30] pirate opened #485 "Allow passing config via environment variables to zulip-botserver"
**Component:** `zulip-botserver`
**Package:** https://pypi.org/project/zulip-botserver/
**Code:** https://github.com/zulip/python-zulip-api/tree/master/zulip_botserver

Instead of requiring that config be passed as a file with the `--config-file` option, it would be great if we could pass config via environment variables.
This would make our secure key storage system much easier, as right now we u

[2018-11-28 16:35] timabbott opened #486 "twitter integration: Add support for filtering messages matching a given account/term"
Our deployment of the Twitter integration (`zulip/integrations/twitter/twitter-bot`; docs are on zulipchat.com/integrations) has started showing all the tweets from a user who picked the username `@zulip_engg` (and there's a few other things we'd want to exclude too).  It seems worth adding options for it to exclude messages from certain accounts and/or matching certain terms (probably one option

[2018-11-29 14:08] Hyaxia commented on #486
@zulipbot claim

[2018-11-29 14:55] Hyaxia commented on #486
Hey, was wondering about the "certain terms" you thought about.
Did you mean that like the `--search` that receives a list of arguments to check, whether

[2018-11-29 18:49] timabbott commented on #486
Yeah, that's what I had in mind.

[2018-11-30 18:01] showell opened #489 "bots: Fix error handling for bot not found."
The following logic in `zulip_bots/zulip_bots/run.py` can use some more testing.  In particular, it's not clear the intent behind the provision check in the `else` block.

[code]

[2018-12-05 23:43] glyph commented on #483
Yep; any form of modern asyncio/tornado/Twisted support could ultimately be converted into this, and could therefore close this ticket.

[2018-12-06 15:45] showell opened #490 "Fix trivia bot can't find key"
When you load the trivia bot, you get an error like this:

[code]

I believe this is partly due to how our Storage class works.  We need a way to check that the key exists or not without an exception being thrown.

[2018-12-10 05:14] Hyaxia commented on #486
waiting for review :relaxed:

[2018-12-13 00:58] zbenjamin commented on #485
@zulipbot claim

[2018-12-13 01:03] zbenjamin commented on #485
Ah, I think I mis-read this issue. It looks like @showell implemented this in #491. I thought this issue was about being able to specify a config file via an environment variable. This is useful so that one can easily run a bot server with multiple bots in an environment like Heroku while also using a production web server like gunicorn.

[2018-12-13 01:53] showell commented on #485
@zbenjamin My changes were for the standalone config.  We probably need to fix botserver the same way.

[2018-12-13 22:12] timabbott commented on #486
Fixed via #487.  @Hyaxia next time, you can put `Fixes: #487` in the commit message and it'll auto-close the issue when the commit is merged.

Check out our [GitHub guide](https://zulip.readthedocs.io/en/latest/git-guide.html) and [commit guidelines](https://zulip.readthedocs.io/en/latest/contributing/version-control.html) for more details.

[2018-12-13 22:12] #486 closed

[2019-01-14 15:20] iweiss commented on #106
@rht I've been trying the latest on https://github.com/zulip/python-zulip-api/pull/469 and Zulip->IRC communication doesn't happen. Apparently it's not even calling `forward_to_irc()`.

[2019-01-14 15:47] rht commented on #106
@iweiss you must make sure the bot is subscribed to the stream.

[2019-01-14 19:44] code-monk08 commented on #433
@zulipbot claim

[2019-01-15 07:15] iweiss commented on #106
@rht Perfect! Many thanks.

Any plans for IRC+SSL?

[2019-01-15 18:30] rht commented on #106
I haven't tested this, but you could try editing `irc_mirror_backend.py`.
1. Add `import ssl` and `import irc.client`.
2. At the line containing `self.connection.connect(*args, **kwargs)` add an argument so that it becomes `self.connection.connect(*args, **kwargs, connect_factory=ssl_factory)`, where you have to add this line to the line before         `self.reactor.loop.run_until_complete(`: `ssl

[2019-01-16 08:31] iweiss commented on #106
Sorry but that didn't work. `self.connection.connect()` doesn't recognise `connect_factory`.
[code]

[2019-01-17 21:47] rht opened #496 "Add SSL support to the IRC gateway."
Suggested by @iweiss at https://github.com/zulip/python-zulip-api/issues/106#issuecomment-454290129.

[2019-01-17 21:48] rht commented on #106
Made #496 for the SSL. This issue can be closed because the remaining unmerged commits are for additional features.

[2019-01-17 22:18] timabbott commented on #106
Sounds good re: closing.  Though if we think we prefer this implementation, we should open an issue for documenting this above the matrix-based version in our "IRC mirror" docs (I think we can discuss both on the same /integrations page).

[2019-01-17 22:18] #106 closed

[2019-01-18 01:00] rht commented on #106
#469 is simpler to setup hence will have shorter documentation (I will add a reminder to make sure that the bot is subscribed to the relevant stream). As with permanence, Matrix.org is mirroring all of freenode regardless of whether the bridge exists anyway. One major advantage is that it doesn't have the banned bridgebot problem.

[2019-01-18 07:38] iweiss commented on #106
The setup is definitely straightforward. One thing I noticed, before the bot subscription problem, is that  in the README file it says:
[code]
The Matrix bridge allows us to specify a different filename location. Can this become a feature of the IRC integration?

[2019-01-19 15:40] rht commented on #106
That makes sense. The remaining question is on to whether do this just on the IRC bridge, or all the API client.

[2019-01-21 08:20] iweiss commented on #106
That is a very good point. If I have to suggest something, I would suggest all the API client if anything to be consistent with the Matrix bridge.

[2019-01-21 16:11] rht opened #497 "Zulip client should detect the presence of a zuliprc in $PWD."
Reading from ~/.zuliprc forces the number of account to be 1. Having to type the API key in a command line is not secure (this leaves trails in the history). Additionally, having a local and global config has been practiced by npm for a while.

If this is to be implemented, another consideration is whether to make the zuliprc visible or not.

note: `zulip-terminal` has already implemented this loc

[2019-01-21 16:12] rht commented on #106
Made #497.

[2019-01-22 09:08] bistaastha commented on #417
@zulipbot claim

[2019-01-22 17:24] showell commented on #417
@bistaastha You can work on this!

For some reason I couldn't assign you to the issue, so I just assigned myself to lock it, but the issue is all yours.

[2019-01-22 23:31] wesm opened #499 "rss-bot integration does not pass --config-file argument to zulip.Client"
see https://github.com/zulip/python-zulip-api/blob/master/zulip/integrations/rss/rss-bot#L202

[2019-01-23 01:46] #499 closed

[2019-01-23 01:48] eeshangarg commented on #499
@wesm: Thanks a lot for reporting this! I just fixed this, it should be available in the next release. I'll be making a release tonight! :)

[2019-01-23 20:44] rht opened #500 "bridge_with_irc: Check if the bot is subscribed to the relevant stream on startup."
This way, the important precaution to make sure that the bot is subscribed is no longer necessary, since the bot will print out the problem itself.

[2019-01-24 21:34] code-monk08 commented on #433
@zulipbot abandon

[2019-01-29 02:19] #476 closed

[2019-02-03 06:39] timabbott commented on #497
We already support just having users pass the path to a `.zuliprc` file, right?

[2019-02-03 06:40] sjha2048 commented on #433
@zulipbot claim

[2019-02-03 19:34] rht commented on #497
Huh, yeah, I could have used that instead of passing the API key, but again, it is more convenient if the client anticipates that `.zuliprc` is in the current directory. So the remaining argument is for convenience and that npm does it.

[2019-02-07 05:30] bistaastha commented on #417
@zulipbot claim

[2019-03-20 16:48] bendemers commented on #433
@zulipbot claim

[2019-04-07 23:22] jchinnam commented on #417
@zulipbot claim

[2019-04-07 23:48] NealMatta commented on #433
claim

[2019-04-07 23:50] NealMatta commented on #433
@zulipbot claim

[2019-04-21 03:11] NealMatta commented on #433
@zulipbot Currently working through some bugs

[2019-04-21 17:44] jchinnam commented on #417
still working

[2019-09-03 17:58] Kodhandarama commented on #433
claim

[2019-09-03 17:58] Kodhandarama commented on #433
@zulipbot claim

[2019-09-04 19:50] Kreyren opened #524 "rss-bot is outdated"
Executing `rss-bot` based on instructions from https://domain.zulipchat.com/integrations/doc/rss and instructions written in the file results in:

[code]

### References
https://github.com/zulip/python-zulip-api/blob/f2eaf80b9e6ab285038d8a9827a450a6e710b712/zulip/integrations/rss/rss-bot

May be relevant: https://stackoverflow.com/a/31671281

[2019-09-04 20:05] Kreyren commented on #524
used `pip3` instead of `pip` my bad

[2019-09-04 20:05] #524 closed

[2019-10-03 11:43] TarunGuptaJ commented on #433
claim

[2019-10-03 11:45] TarunGuptaJ commented on #433
@zulipbot claim

[2019-11-02 08:39] payamnj opened #527 "Owlbot v1 endpoint is deprecated"
https://github.com/zulip/python-zulip-api/blob/005829192e55ab467cfa5144e0408f75b1b12ddf/zulip_bots/zulip_bots/bots/define/fixtures/test_single_type_word.json#L3

Please consider using version 2 of the Owlbot API.
you can do so just by changing the `v1` in the endpoint URL to `v2` the only difference between these two versions is that a spelling typo in the response is fixed. Version 1 is deprecate

[2019-11-05 23:53] timabbott commented on #527
@payamnj want to submit a quick PR making the change?

[2019-11-10 04:30] aditisingh2362 commented on #433
@zulipbot claim

[2019-11-20 04:26] aditisingh2362 commented on #433
@zulipbot abandon

[2019-11-26 15:03] janLo opened #530 "Zulip api doesn't work with python 3.8"
Using the zulip api on a current python 3.8 causes an `AttributeError` because of the removal of `linux_distribution` from `platform`:
[code]
See https://bugs.python.org/issue28167 and https://github.com/pypa/pip/pull/3906/files for a possible workaround.

[2019-11-26 15:04] janLo commented on #530
Oh, I've just seen 63bc9b8a4fe922befac8c8b0000d30b22911d797. Can this be released soon?

[2019-11-26 18:23] neiljp commented on #530
@janLo There has been discussion on releasing a new version over the last month, on the #integrations stream at chat.zulip.org.

@eeshangarg FYI :)

[2019-12-23 05:23] mikaelmello commented on #530
Additionally, I am getting errors because of `typed-ast`: https://github.com/python/typed_ast/issues/126

[2020-01-02 00:17] neiljp commented on #530
@janLo Can you clarify whether this works for you at this point?

@mikaelmello Thanks for the link; to clarify, is this just an upstream problem as per the one you point to, (which seems fixed), or are you seeing it with a zulip dev environment?

[2020-01-02 21:39] mikaelmello commented on #530
Hi Neil, this is an upstream problem that was present when I was trying to
setup my environment. I've managed to fix it by bumping the version of the
dependency.

Em qua, 1 de jan de 2020 21:17, Neil Pilgrim <notifications@github.com>
escreveu:

[2020-01-04 13:02] eeshangarg commented on #530
@mikaelmello Thanks for the response! @neiljp I'm guessing we can close this one then?

[2020-01-05 20:54] timabbott commented on #530
I think that's correct, closing.

[2020-01-05 20:54] #530 closed

[2020-01-29 01:31] showell opened #533 "api: Give quicker feedback if your credentials are wrong"
When you use the api and instantiate a Client, it will succeed as long as the credentials are well-formed, even if the credentials aren't actually valid.  Of course, as soon as you try to use them, you'll get a proper error, but it might make sense to have some kind of "ping" method that you can call that literally just makes sure you can connect to the server, so that program can handle that erro

[2020-02-11 12:38] IDerr opened #534 "API: Support delete all messages from a topic"
Hello,
I think that delete a topic is not supported by the python API, it was added to this commit:
https://github.com/zulip/zulip/commit/ac55a5222c977ae2c507fb34ec5081c6ab018c16

Thanks a lot for your work :)

[2020-02-21 19:58] arunikayadav42 commented on #534
@zulipbot claim

[2020-02-21 20:06] mayankwadhwani commented on #477
@zulipbot claim

[2020-02-21 21:10] orientor commented on #497
@zulipbot claim

[2020-02-22 00:01] orientor commented on #497
PR added. Please review. Also how should we change the docs in this case?

[2020-02-22 00:31] orientor commented on #527
Converted @payamnj 's commit in their repository to zulip PR .

[2020-02-22 03:27] neiljp opened #537 "API: Improve exponential backoff implementation (add maximum)"
For the python API, the exponential backoff could be improved through adding a maximum.

Motivated by the following conversation:
https://chat.zulip.org/#narrow/stream/92-learning/topic/exponential.20backoff.20--.20with.20jitter/near/818761

Following from the discussion, connected improvements could include adjusting the random selection range, if this is an improvement.

[2020-02-22 04:52] arunikayadav42 commented on #534
@IDerr what exactly is to be done in this issue? Is the pull request to be fixed?

[2020-02-22 19:29] BhaskarJoshi-01 commented on #489
@zulipbot claim

[2020-02-23 05:29] Kushal-kothari commented on #533
@zulipbot claim

[2020-02-23 10:52] orientor commented on #537
Made a PR for do_api_query. But base and cap need to be decided. Also if this is done, then I can change class RandomExponentialBackoff accordingly.

[2020-02-23 12:22] showell commented on #537
See https://chat.zulip.org/#narrow/stream/92-learning/topic/exponential.20backoff.20--.20with.20jitter/near/820056.

[2020-02-23 15:01] Kushal-kothari commented on #533
@showell  . Am I on the correct path to interpret the issue Eg: whenever a user try to use an api for some random reason "x"  (let say to create a bot and get it integrated).
After adding the  wrong credentials lets say (incorrect email id / incorrect token) we need a method handler that checks and give the feedback that   the entered credentials are valid or not  immediately and not after the who

[2020-02-24 07:14] Aadi-0110 commented on #485
@zulipbot claim

[2020-02-28 10:03] orientor commented on #490
@showell Is this issue still on?

[2020-03-01 07:00] orientor commented on #500
@rht I saw your PR after making my PR. Our approaches are different though. I am checking it before initializing the bot. Also I have fully tested my PR. Kindly review.

[2020-03-01 07:23] rht commented on #500
Regardless of where the check happens, IMO my solution is more concise. I did in 3 lines of what you did for checking the subscription. Sorry if I am biased, we need a 3rd party to break the tie. If @neiljp can take a look?

[2020-03-01 08:09] orientor commented on #500
@rht yes you're right. BTW I tested your code and it works properly. So it can be merged.

[2020-03-02 22:40] orientor commented on #490
@showell Trivia quiz bot seems to work fine for me.

[2020-03-03 16:04] IDerr commented on #534
oops, haven't seen your answer, I think there's no method in the python api to delete a topic like in the PR I have linked above.

[2020-03-06 19:09] axelsimon opened #545 "Matrix bridging documentation issue"
Hi,
I found some difficulties and errors following the guide at https://zulip.com/integrations/doc/matrix.

In "Installing the bridge software", at step 3:

That won't work, as the `matrix` directory is actually called `bridge_with_matrix` (cf. [here](https://github.com/zulip/python-zulip-api/tree/master/zulip/integrations/bridge_with_matrix)).

The documentation needs to be updated to reflect thi

[2020-03-10 03:42] maanuanubhav999 commented on #534
@zulipbot claim

[2020-03-10 04:08] maanuanubhav999 commented on #534
@IDerr  please provide with some  information as for a beginner.

[2020-03-10 10:40] maanuanubhav999 commented on #534
@timabbott do i need to impliment  new type function which would perform deletion. please guide.

[2020-03-11 04:20] Kushal-kothari commented on #533
@zulipbot claim

[2020-03-11 08:26] IDerr commented on #534
Hello @maanuanubhav999,
in zulip you can delete a topic like shown in the PR above

[code]
You have to add a method delete_topic which call the url "/json/streams/" + stream_id + "/delete_topic", with the topic name passed as data.

Thanks a lot for your work,

[2020-03-11 18:46] maanuanubhav999 commented on #534
@IDerr sorry to ping you again but is this about a webhook that is needed to create.

[2020-03-11 20:58] IDerr commented on #534
no, a method to be added in the python api

[2020-03-12 14:50] arnavkohli commented on #489
@zulipbot claim

[2020-03-17 14:39] aero31aero opened #551 "bots: Do not pass all messages to bot in a group PM."
If a bot is part of a group PM, the conversation can easily get out of hand.

![image](https://user-images.githubusercontent.com/8033238/76867515-9fdc9e00-688b-11ea-8965-a4df63687532.png)

Instead, we should apply the same rules as stream messages for PMs with more than 2 recipients (mandatory @-mention before the bot's name).

[2020-03-17 16:16] aero31aero opened #552 "bots: Do not remove self from the list of recipients of the incoming message."
The current behavior of `send_reply` can be traced back to ad25f278534bc21310c1e3bd8a8021154bc19126.

(This change is part of the larger changes including some in the server repo to improve the UX for using bots in group PMs.)

[2020-03-19 11:50] aero31aero opened #555 "typeahead: Properly handle custom triggers."
(deleted; issue opened in wrong repository)

[2020-03-19 11:54] #555 closed

[2020-03-19 18:36] timabbott commented on #545
@axelsimon thanks for the report; @orientor just fixed the documentation; can you also report the other issues you saw?

[2020-03-19 18:37] timabbott commented on #545
@orientor @rht I'd encourage you to test the bridge somewhat extensively against a real matrix server to QA for additional issues here, since it's clear from this issue that the Matrix bridge hadn't received enough testing

[2020-03-19 19:48] orientor commented on #545
@timabbott Sure, I will start testing it.

[2020-03-20 11:00] axelsimon commented on #545
Hi @timabbott, thanks for the reply. Is the fixed documentation still in staging and not yet published?
Because **Configure the Bridge** section 3 and 5 still have the mistake i reported, for instance.

Would you like me to report the other things in this issue or in a new issue?

[2020-03-21 08:36] rht commented on #545
FWIW, I already did the QA with a real Matrix server the first time I made the PR, back when the IRC bridge wasn't working. It's just that I missed the integration name rename review.

[2020-03-21 08:55] rht commented on #545
@axelsimon indeed, the README (at https://github.com/zulip/python-zulip-api/blob/8fc5b777db5e1fa879d5b61b88ff80d4bc7110ed/zulip/integrations/bridge_with_matrix/README.md) hasn't been updated to use the path starting from the repo's root. @orientor only updated the documentation of other files. We are still debating whether it is clearer instead to tell the user to `cd` to the appropriate sub-direc

[2020-03-22 23:52] #43 closed

[2020-03-23 20:07] maanuanubhav999 commented on #534
https://github.com/zulip/python-zulip-api/pull/559

[2020-03-24 14:28] IDerr commented on #534
Thanks for this @maanuanubhav999

[2020-03-27 10:03] sreenikethMadgula commented on #417
@zulipbot claim

[2020-03-27 10:59] #500 closed

[2020-03-30 22:38] aero31aero opened #566 "ExternalBotHandler: Support adding reactions to message."
Sometimes, it makes sense to have a bot that reacts to a particular message instead of sending a complete message that clutters the thread. To support such bots, we should add a simple interface like `bot_handler.send_reply` that people can call: `bot_handler.react('thumbs_up')`.

This change also needs to be made to `EmbeddedBotHandler` in https://github.com/zulip/zulip/blob/master/zerver/lib/bot

[2020-03-31 14:36] michiboo commented on #566
Hi can I have a go at this issue?

[2020-03-31 15:10] aero31aero commented on #566
Yes, you can!

On Tue, Mar 31, 2020, 8:06 PM Micky C <notifications@github.com> wrote:

[2020-04-01 11:44] rht opened #568 "bridges: Check if the bot is subscribed to the relevant stream on startup."
Currently, the check only exists on IRC bridge. We should do the same for the rest of the bridges. And while we are at it, we should have a mechanism for a new bridge developer to ensure that the checking happens.

- [ ] bridge_between_zulips
- [ ] bridge_with_matrix

[2020-04-01 12:46] rht commented on #568
cc: @orientor

[2020-04-01 18:00] orientor commented on #568
@rht Added PR for the two bridges. To ensure that future developers use this I think we should add the `check_subscription_or_die` method to the zulip library. Also I think that the docs should be edited accordingly.

[2020-04-02 02:56] rht opened #573 "Migrate the codebase to Python 3."
Python 2 is EOL since Jan 1st 2020.

See also https://chat.zulip.org/#narrow/stream/127-integrations/topic/python-zulip-api.20to.20use.20python3.

[2020-04-03 12:18] #573 closed

[2020-04-07 23:38] timabbott commented on #545
@rht @orientor does one of you have time to fix the remaining errors here?

@axelsimon I think new issues might be better; this thread is already somewhat cluttered.

[2020-04-08 03:09] rht commented on #545
@timabbott it is currently blocked waiting for your reply to https://github.com/zulip/zulip/pull/14249#issuecomment-601992847.

[2020-04-09 07:39] iishiishii commented on #566
@zulipbot claim

[2020-04-12 01:48] TAM360 commented on #552
Hey @aero31aero, can I work on this issue?

[2020-04-12 03:52] aero31aero commented on #552
Hey @TAM360 there's already an open PR fixing this issue. If you want a bots related issue and can't find one, you can start a discussion in #integrations stream on chat.zulip.org and we can find you a project. 😃

[2020-04-12 03:56] TAM360 commented on #552
Best!

[2020-04-12 04:00] TAM360 commented on #551
@aero31aero does this have an open PR too?

[2020-04-13 13:56] TAM360 commented on #490
@orientor I can't reproduce this issue either. @showell  Are we sure that issue hasn't been resolved in some previous commit?

[2020-04-14 02:55] TAM360 commented on #533
@zulipbot claim

[2020-04-19 05:08] andersk opened #590 "Audit expressions formerly assigned to unused variables"
Flake8 (#588) revealed a number of unused variable assignments. I removed the unused variables in these commits:

54b257820481d39d2b38c60b1ca019a495270771 cleanup: Remove unused variables.
a01e5e37f42971db042f042726040d283efec857 cleanup: Remove more unused variables.

However, I conservatively avoided removing the expressions that had been assigned to the variables, so this left behind expression

[2020-04-20 10:19] preetmishra commented on #534
@maanuanubhav999 Are you still working on this?

[2020-04-20 10:26] maanuanubhav999 commented on #534
@preetmishra i think it's completed  please look into PR 559 mentioned above.  otherwise you are welcome to do so. I am done

[2020-04-20 10:30] preetmishra commented on #534
@maanuanubhav999 I had a look. Could you rebase and resolve the conflicts?

[2020-04-21 15:14] iishiishii commented on #566
PR #593

[2020-04-24 08:10] TAM360 commented on #533
@zulipbot I am currently working on this issue.

[2020-04-26 17:14] shritwikbhaduri opened #595 "send_message api giving error ""Missing 'num_before' argument"""
i am was just trying to test locally running zulip server by sending message to a stream using bot credentials  with the following code:
`import zulip
import pprint as pp
client = zulip.Client(config_file=".zuliprc", insecure=True)

result = client.get_user_by_id(9)
print(result)

Send a stream message
 request = {
    "type": "stream",
     "to": "klasa_integration",
     "subject": "test",

[2020-04-28 15:56] #551 closed

[2020-04-28 15:56] #552 closed

[2020-05-08 21:12] TAM360 commented on #533
@zulipbot abandon

[2020-05-12 10:24] BhaskarJoshi-01 commented on #566
@zulipbot claim

[2020-05-12 14:50] aero31aero commented on #566
@BhaskarJoshi-01 I'm sorry but it looks like we have a PR that fixed this issue. If you want to work on an issue but cannot decide on another, just leave a message on chat.zulip.org on the stream #integrations. :)

[2020-05-12 14:50] #566 closed

[2020-06-13 17:27] Pradhvan commented on #534
@maanuanubhav999 still working on this ? If not, I would be happy to take a look into it. 😄

[2020-06-13 18:21] maanuanubhav999 commented on #534
@Pradhvan sure, I have done my part.

[2020-06-18 05:18] Pradhvan commented on #534
@preetmishra can you review the PR now I made some changes last night. 😄

[2020-06-18 15:53] preetmishra commented on #534
Hi, @Pradhvan. I have not worked on the API yet. So, I am plausibly not the right person to give this a go. I was meaning to take this up originally.

[2020-06-19 02:19] rht opened #604 "Migrate the library used in Matrix bridge to matrix-nio"
According to the README.md of https://github.com/matrix-org/matrix-python-sdk:

We should migrate.

[2020-06-21 13:53] Pradhvan commented on #534
@timabbott whenever you are free, can you look into this? 😄

[2020-06-23 06:09] Pradhvan commented on #533
@zulipbot claim

[2020-07-04 12:53] Pradhvan commented on #533
I am starting to work on it now. 😄

[2020-07-12 06:35] pnijhara opened #607 "Potential code quality issues found"
I have forked this [repo](https://github.com/pnijhara/python-zulip-api/tree/pnijhara-patch-1) and later to check code quality, I ran a [DeepSource](https://deepsource.io) analysis on it. There I found around 700+ code quality issues, some of them can be easily fixed in a single click.

Those issues are categorized as:

Anti-pattern: 425
Bug Risk: 49
Performance: 188
Security: 57

Find a detailed r

[2020-07-15 20:58] timabbott commented on #607
We love taking patches that improve the codebase, and use other code scanners to look for them.

Based on past experience, I'd be surprised if many of those "700 issues" are real problems -- this class of tool is known for generating a lot of spam because it helps sell that class of software.  And 188 "performance" issues in a small codebase like this API library is a sign that they're very aggres

[2020-07-15 20:59] #607 closed

[2020-07-22 03:43] tdupu opened #609 "test-bots.py outside of zulip_bots"
If someone just wants to develop bots for zulip not install zulip from source then the testing software test-bots.py in "tools" in not available. It is advertised in the (beta) documentation that one actually only needs to run

pip3 install zulip_bots

and everything will be available. This is not the case for test-bots.py

See the documentation here for the API information
    https://zulipchat.c

[2020-07-24 20:31] timabbott commented on #609
Thanks for the report!  I agree.

@eeshangarg  do you have time to try moving this?

[2020-07-24 23:10] tdupu commented on #609
The coveragerc file needs to move too.

[2020-07-24 23:11] tdupu commented on #609
There are a couple more things I found in the API. I will try and post issues.

[2020-07-24 23:18] tdupu opened #610 "get subscription status"
The get subscription status doesn’t work “out of the box”.

I messed with the URL and this didn’t work.
It might be the case that you need to compile from from source or be running from some sort of dev install.

Fix: a simple function should be written for this
    https://zulipchat.com/api/get-subscription-status

[2020-08-03 10:34] rht opened #612 "Matrix bridge: Event object no longer has "membership" key."
The event object is [this line](https://github.com/zulip/python-zulip-api/blob/396ef1d11adfd401ff807bcb77abb109669725a1/zulip/integrations/bridge_with_matrix/matrix_bridge.py#L107) only has these keys:
`['unsigned', 'origin_server_ts', 'type', 'room_id', 'content', 'sender', 'event_id']`. `membership` is gone.

[2020-08-03 19:30] timabbott commented on #612
Is there any documentation for this change in the Matrix.org APIs?

[2020-08-04 02:17] rht commented on #612
The example in https://github.com/matrix-org/matrix-python-sdk/blob/master/samples/SimpleChatClient.py still uses "membership" which no longer works. The Matrix API documentation doesn't have changelog that says any deprecation. Because of #604, the library used in the Matrix bridge is no longer actively maintained.

@timabbott is it worth it to modernize the Matrix bridge, or should I make the Zu

[2020-08-04 23:30] timabbott commented on #612
Can you open an issue with the Matrix.org folks for that `membership` bug?  I think @Hypro999 might be interested in collaborating on fixing Matterbridge.

[2020-08-11 00:16] timabbott commented on #610
@akashaviator can you add a function for this?

[2020-08-26 09:18] akashaviator commented on #610
@timabbott We can close this issue as it was fixed by 624cef01.

[2020-08-26 20:22] timabbott commented on #610
OK, great :)

[2020-08-26 20:22] #610 closed

[2020-09-09 17:02] tdupu opened #621 "creation of private streams"
Both ways documented in the API to make private streams seem to not work.

Here is the documentation for updating a stream to make it private:
https://zulipchat.com/api/update-stream

Here is the documentation for initially creating a private stream:
https://zulipchat.com/api/create-stream

Here is some example code that tries to use both of these ways to create private streams:

`#make a group
gr

[2020-09-09 17:06] tdupu commented on #621
(sorry about the formatting... something is off. I need to run to class. I will try and fix the formatting if I have time later. )

[2020-09-11 23:53] timabbott commented on #621
@orientor @akashaviator @aero31aero can one of you try to reproduce this?

[2020-09-14 17:54] tdupu commented on #621
I am also having issues with bots deleting streams. I just wanted to say this before I forget.

issue 1: bots can't delete streams as claimed in the API. Even with an owner zuliprc file.

issue 2: deletion doesn't really delete.

expected behavior: all conversation history gets deleted when you delete a stream.

actual behavior: create "stream 01" put people in it, have a conversation, then delete

[2020-09-14 19:08] neiljp commented on #621
@tdupu Regarding your first point, it's unclear if you mean the docs are incorrect and/or you are using a bot-owner or organization-owner zuliprc file. It does seem that the API delete-stream docs at https://zulip.com/api/delete-stream (and possibly other docs) don't specify whether an admin user is required or not.

You may have seen this, but this seems to indicate this is intended behavior:

Fo

[2020-09-19 12:37] QEDK commented on #533
I think #592 is attempting to address this.

[2020-09-19 15:35] showell commented on #533
#592 has been abandoned, so somebody should feel free to work on this, ideally after looking at that PR to see how much of it is headed in the right direction.

[2020-09-19 15:42] QEDK commented on #533
@zulipbot claim

[2020-09-23 12:17] showell opened #625 "Move away from virtualenv"
Since python3.5, the recommended methodology for creating virtual environments is to use the native venv module.

Now that we no longer support older versions of python, we no longer need virtualenv.

More discussion here: https://chat.zulip.org/#narrow/stream/2-general/topic/page.20not.20found/near/1022651

[2020-09-25 09:29] rht opened #626 "Migrate from travis-ci.org to travis-ci.com"
Travis-CI.org will be shut down on December 31, 2020: https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom?e=%5BUNIQID%5D

Migration instructions here: https://docs.travis-ci.com/user/migrate/open-source-repository-migration

Also remember to update the Travis badge in the README.md.

Make sure to read the discussion at: https://chat.zulip.org/#narrow/stream/2-general/topic/Travi

[2020-09-29 21:47] QEDK commented on #533
Just been setting up my new environment in WSL, back at this! 🚀

[2020-10-01 14:06] QEDK commented on #625
I'll just add a note that while `venv` works fine on native Linux distributions, Microsoft's WSL and Windows itself work quite badly with it. I'm not quite sure why to be honest but `venv` itself is plagued with permissions errors (on WSL atleast). While it's surely something upstream, just my two cents.

[2020-10-01 18:30] timabbott opened #628 "Add function for downloading an uploaded file"
Zulip's API has a pair of related URLs for accessing uploaded files that need better documentation and tooling:
* `GET /user_uploads/...`
* `GET /api/v1/user_uploads/...`

The former just downloads a file (possibly via a 302 redirect to a temporary access URL of the form `/user_uploads/temporary/...`).  The latter returns such a temporary access URL (basically what the former would have redirected

[2020-10-06 15:12] showell commented on #533
One thing to clarify--if the API has the wrong credentials, we should probably throw an exception, and **not** use `sys.exit(1)` or similar, since it's plausible that the calling code will simply want to handle the exception and move on.

We should take care to provide useful messaging to standard output, however, since 90% of use cases are probably people who are clearly just dealing with some ki

[2020-10-10 16:03] ayushi19031 commented on #628
@zulipbot claim

[2020-11-02 21:32] LoopThrough-i-j commented on #485
@timabbott I hope this issue is should be closed, or can I take it up if anything is pending

[2020-11-03 07:15] LoopThrough-i-j commented on #485
@zulipbot claim

[2020-11-06 23:57] timabbott opened #631 "Remove use of removed !avatar syntax from inte"

[2020-11-07 00:00] timabbott opened #632 "Remove use of removed !avatar syntax from API bots"
Apparently, we have a few integrations that are using the `!avatar` markdown syntax that we removed some time ago:
[code]

The Git integration is the most important; we should migrate it to use the same formatting model we have for the GitHub/GitLab integrations in the webapp.

For the game handler, I suspect we want to just switch to using names, but if that's problematic, we could consider addin

[2020-11-14 19:38] mateuszmandera commented on #631
I presume this is a copy of #632 that was posted accidentally.

[2020-11-19 18:31] dmarar commented on #533
@zulipbot  claim

[2020-11-24 00:15] timabbott opened #636 "Make it easier to find custom bot modules when using zulip-botserver"
I don't have a specific proposal, but probably some combination of documenting PYTHONPATH and adjusting how we search for bot modules is well worth doing to make it easier to help folks who are not deeply familiar with Python get bots running successfully.  This thread has discussion https://chat.zulip.org/#narrow/stream/92-learning/topic/bot.20basics/near/1068769.

The first step for this issue i

[2020-11-24 00:31] neiljp commented on #636
I saw this and wondered if at least for our packaged bots the registration implementation which I started working on in #517 may be useful?

[2020-11-25 01:48] R0cker77 commented on #632
@zulipbot claim

[2020-12-04 04:27] b-thebest commented on #636
Can I work on this

[2020-12-04 08:45] neiljp commented on #636
@b-thebest There is no firm plan for going about this yet, so as Tim mentioned we likely want a proposal for fixing it first - I'd suggest discussing ideas in #**integrations** on chat.zulip.org.

[2020-12-06 10:11] m-e-l-u-h-a-n commented on #632
@mateuszmandera how can I know about formatting model for github/gitlab integrations, in order perfrom this migration for Git integration.
Also can I work on this issue...

[2020-12-07 17:16] R0cker77 commented on #632
@m-e-l-u-h-a-n  hey, i kinda gave up on it from not knowing where to find the github integration, but if you want to work on it, maybe check zulip main repository, and find the webhooks for github/gitlabs, they might have the desired formatting, im not an expert on this , so take what i said with a grain of salt, goodluck!

[2020-12-08 07:14] m-e-l-u-h-a-n commented on #632
Thanks! @R0cker77, for suggestion will try my best!

[2020-12-08 21:21] showell opened #637 "Add remove_storage helper to the Python API."
This should be fairly straightforward for you if you have worked with extending our API before.  The actual code should be trivial, but you'll want to add tests for it and documentation.

https://chat.zulip.org/#narrow/stream/127-integrations/topic/Storage.20Python.20API/near/1074914

[2020-12-15 14:12] vinitwadgaonkar commented on #533
@zulipbot claim

[2020-12-15 14:15] vinitwadgaonkar commented on #533
please assign this issue to me

[2020-12-19 04:14] andersk opened #639 "Make a base class or protocol for ExternalBotHandler that zulip/zulip’s EmbeddedBotHandler can subclass"
zulip/zulip currently needs an [unchecked cast](https://github.com/zulip/zulip/blob/a054f57af68637ad8b96290b3e13b2a6d8a8a359/zerver/worker/queue_processors.py#L748) to convert a custom `EmbeddedBotHandler` class into an `ExternalBotHandler`. Since `EmbeddedBotHandler` is not a subclass of `ExternalBotHandler` (because it works by invoking `internal_send_message` rather than making API calls), this

[2021-01-02 15:20] vinitwadgaonkar commented on #632
@zulipbot claim

[2021-01-04 09:15] vinitwadgaonkar commented on #632
can anybody please brief me little what exactly is needed to be done in this issue

[2021-01-04 09:16] vinitwadgaonkar commented on #632
am i supposed to replace !avatar expression with its html tag

[2021-01-04 10:30] vinitwadgaonkar commented on #632
zulipbot

[2021-01-04 10:30] vinitwadgaonkar commented on #632
@zulipbot

[2021-01-04 10:30] vinitwadgaonkar commented on #632
@zulipbot pull request

[2021-01-04 19:49] LoopThrough-i-j commented on #639
@andersk can I work on this?

[2021-01-07 03:17] vinitwadgaonkar commented on #632
please review and merge following pull request for this issue:
#642
#641

[2021-01-07 08:31] #485 closed

[2021-01-08 19:53] tushar912 commented on #628
@zulipbot claim

[2021-01-10 09:04] tushar912 commented on #628
@zulipbot claim

[2021-01-15 11:18] LoopThrough-i-j commented on #639
@zulipbot claim

[2021-01-15 14:49] vinitwadgaonkar commented on #533
@zulipbot claim

[2021-01-17 13:52] vinitwadgaonkar commented on #632
@nejip @timabbott  sir please review

[2021-01-17 22:22] R0cker77 commented on #632
Hey @vinitwadgaonkar, you should check the [Zulip community](https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html), to discuss the issues that your having, and getting code reviews. in general the community have a better respond time.

[2021-01-21 08:10] LoopThrough-i-j commented on #625
I hope this issue is open to work @showell

[2021-01-21 08:10] LoopThrough-i-j commented on #625
@zulipbot claim

[2021-01-23 09:26] LoopThrough-i-j commented on #625
@QEDK, @showell  and @neiljp I tested venv on WSL and everything felt nice and smooth. Not sure of the issue @QEDK is talking about. I insatlled windows to test everything out. Probably @QEDK made some irregular sudo usage that could have broken venv.

[2021-01-23 11:07] QEDK commented on #625
You missed what I said, it needs to be the Windows filesystem inside WSL. I know to not use `sudo`, the way file systems are implemented are what's the problem, which even causes problems with Git.

[2021-01-23 12:41] LoopThrough-i-j commented on #625
@QEDK yeah, I understand and am trying things out. I wrote this comment before checking for the chat, sorry for that.

[2021-01-23 15:47] QEDK commented on #625
It's totally cool, I'm just explaining why it's an issue. I've replied on
Zulip more thoroughly.

On Sat, 23 Jan, 2021, 18:11 Debayan Ganguly, <notifications@github.com>
wrote:

[2021-01-26 18:55] #631 closed

[2021-01-27 16:35] vinitwadgaonkar commented on #433
@zulipbot claim

[2021-01-29 22:56] R0cker77 commented on #637
@zulipbot claim

[2021-01-30 01:39] R0cker77 commented on #637
@zulipbot claim

[2021-01-30 16:14] timabbott opened #647 "Provide a mechanism for passing `all_public_streams` to `call_on_each_*`"
I suppose the specific flag isn't important -- I named an undocumented one in the title, but `call_on_each_*` need to support passing additional parameters to `/register`, and currently seem not to.  Probably simplest is to just support an additional parameters dictionary?  But mainly, we should try to be consistent with existing functions.

Once we add the feature, we should remember to update zu

[2021-02-03 21:50] ahmedabuamra commented on #632
@zulipbot claim

[2021-02-03 22:26] LoopThrough-i-j commented on #647
@timabbott I wanted to work on this issue, but I have some PRs waiting to be reviewed. Can I work on this?

[2021-02-03 22:35] LoopThrough-i-j commented on #647
@zulipbot claim

[2021-02-05 13:01] dwinston opened #650 "Can I get a total count of messages given a narrow filter?"
I am aware of the `found_newest` value returned by `GET /api/v1/messages`, which I use in paginating requests to decide whether there are more messages to fetch. However, there are a lot of messages on the server, and I would like to be able to show myself a progress bar so as to estimate the time to complete my fetch of messages. Is there a (perhaps undocumented?) was to get such a count for a na

[2021-02-05 20:22] ahmedabuamra commented on #639
@zulipbot claim

[2021-02-05 20:24] ahmedabuamra commented on #639
@andersk Can I work on this issue as the `in progress` one is in review?

[2021-02-07 08:05] LoopThrough-i-j commented on #625
@rht would you mind taking a look at the PR

[2021-02-10 21:49] gnprice opened #651 "Make tests work on Windows"
We've had a report [in chat](https://chat.zulip.org/#narrow/stream/127-integrations/topic/Having.20trouble.20with.20python-zulip-api.20test.20cases/near/1115925) that the tests don't pass on Windows. Two tests fail, either because they're assuming `/` is the path-separator character or because of a case mismatch that looks like they're assuming the filesystem is case-sensitive.

Python itself work

[2021-02-11 02:40] ganpa3 commented on #651
@zulipbot claim

[2021-02-19 19:10] sundargs2000 commented on #628
@zulipbot claim

[2021-02-24 18:14] sundargs2000 commented on #628
Hey, I would like to work on this. So, the tasks involved would be -
1. Refactor the code to add another parameter to the `call_endpoint` function to specify the API version (with default being nothing prepended?).
2. Create another function `fetch_upload` to download an uploaded file which takes a `url` parameter and another `path` parameter to which it writes the file.

I was thinking the parame

[2021-02-24 18:22] sundargs2000 commented on #628
Hey, I would like to work on this. So, the tasks involved would be -

1. Refactor the code to add another parameter to the `call_endpoint` function to specify the API version (with default being v1).
2. Create another function `fetch_upload` to download an uploaded file which takes a `url` parameter and another `path` parameter to which it writes the file.

 I was thinking the parameter could be a

[2021-02-25 02:05] LoopThrough-i-j commented on #639
@zulipbot claim

[2021-02-25 02:20] #625 closed

[2021-02-25 02:25] LoopThrough-i-j commented on #639
@zulipbot claim

[2021-02-25 02:26] rht opened #655 "Drop Python 3.5"
Since Python 3.5 is already EOL, we no longer have to support it.

[2021-02-25 17:59] timabbott commented on #655
I think this is fine, but one thing worth noting is that we do often here from users who have university IT systems that are running an old version of Python with 2.7, even today.  I think it's worth as part of this documenting clearly on https://zulip.com/api/installation-instructions that the latest bindings support non-EOL Python only (3.6+), but give the commands for `pip install zulip==x` for

[2021-02-25 20:00] andersk commented on #655
Are you sure those users aren’t just confused by their default `/usr/bin/python` → `python2` and `/usr/bin/pip` → `pip2` aliases and/or unaware that Python 2 and 3 can be installed together?

[2021-02-26 15:32] timabbott commented on #655
I suspect they don't have root on their old RHEL 6 system and it didn't come with Python 3 installed.  But I don't know for sure, as they didn't reply to my question for clarification.

[2021-02-26 15:33] timabbott commented on #655
It looks like the README.md for this project already documents options for older Python; we should njust copy a version of that to the zulip.com/api/ content as well.

[2021-02-26 15:36] timabbott commented on #650
There isn't a way to do this, in that the server doesn't fetch from the database more messages than it needs to return your query (doing otherwise would make the query much slower).

One thing that you could do to hack this would be to fetch the very oldest message in the organization, and the very newest, and then do a progress bar based on what fraction of the ID space you've covered; it wouldn'

[2021-02-26 15:36] #650 closed

[2021-02-26 16:09] dwinston commented on #650
Thanks @timabbott --  that's a great idea with the ID space. My use case is expressed in [this gist](https://gist.github.com/dwinston/af77d9cdebb6bc3cf51e847cc44463c4) -- I wanted to get all public-stream messages so that I could use the data to have fun trying to apply PageRank to Zulip entities (e.g. users @-mentioning others).

My initial code was incorrect because I had misunderstood the meani

[2021-02-26 16:32] timabbott commented on #650
Cool.  We would like the Zulip python bindings to have a `client.get_all_messages(...)` method that basically does that loop (taking a narrow as a parameter, which could be the `streams:public` one that I think your example does).  If you want to polish your gist and submit it as a PR for that purpose, we can try to merge it as the official implementation.

[2021-02-26 16:33] timabbott commented on #650
Also worth noting that https://github.com/zulip/zulip-archive has a copy of that loop embedded in it.

[2021-02-26 17:03] dwinston commented on #650
Oh wow, I did not think to poke around for something like the `zulip-archive` repo. I pretty much stuck with poring over https://zulip.com/api/get-messages. It does seem that I re-implemented a slice of [populate.py](https://github.com/zulip/zulip-archive/blob/bcd29a173500de778e70a304fc40cdffaec78803/lib/populate.py)! I just might attempt such a PR...thanks for the invitation!

[2021-02-27 08:21] grigala opened #658 "Opening search results in a popup dialog - Giphy Bot"
This is more of a question than an issue.

I'm wondering if there's anything already in the API that I can leverage with to implement this kind of behavior?

Basically all I want the bot to do instead of sending random picked GIF results, is to collect search results and show them in a popup window while the user types the search keyword.

Not sure if you are familiar with Telegram's GIF bot, but

[2021-02-27 16:10] amanagr commented on #658
There is some progress in https://github.com/zulip/zulip/pull/17068 regarding this. I expect it to be in a good state by the end of March.

[2021-02-27 19:18] grigala commented on #658
@amanagr oh cool! Asking this was a good idea then 😁 Thanks. Will close this one.

[2021-02-27 19:18] #658 closed

[2021-03-01 16:08] Upasanadhameliya commented on #637
@zulipbot claim

[2021-03-01 16:48] Upasanadhameliya commented on #637
@zulipbot abandon

[2021-03-03 21:40] #639 closed

[2021-03-04 19:17] alexmv commented on #626
Mooted by moving to Github Actions.

[2021-03-04 19:17] #626 closed

[2021-03-04 19:28] #651 closed

[2021-03-15 01:59] timabbott commented on #595
I would close this as not a bug.  But I wonder if we should be doing something to disable redirect handling with how we're calling `requests` -- probably worth keeping this open until we've investigated that.

[2021-03-17 22:16] timabbott opened #670 "Coverage is incorrectly reported as 0% on README.md"
This is likely a side effect of the CircleCI => GitHub migration.

https://app.codecov.io/gh/zulip/python-zulip-api seems to not be 0, so I'm guessing we just have the badge misconfigured.

[2021-03-21 19:21] yasiruRathnayaka97 commented on #628
@zulipbot claim

[2021-03-27 13:01] Ponni-M commented on #670
@zulipbot label good first issue

[2021-03-27 13:02] Ponni-M commented on #670
@zulipbot claim

[2021-03-27 13:04] Ponni-M commented on #670
@zulipbot add "good first issue"

[2021-03-27 13:04] Ponni-M commented on #670
@zulipbot claim

[2021-03-27 15:38] Ponni-M commented on #670
@timabbott  I have added the gist action to my fork, we may need to add the gist access token to this project. You can also refer in my branch if the changes are fixing the issue
https://github.com/Ponni-M/python-zulip-api/tree/Ponni-M-patch-1

[2021-04-02 08:54] LoopThrough-i-j opened #672 "Raise exceptions for `{"result": "error"}` in `zulip` apis."
Currently, `zulip` APIs don't handle `{"result": "error"}` and sends send back comes from the server. We would want to handle these errors by raising exceptions in the API layer whenever there is a `{"result": "error"}`.

[2021-04-02 18:58] LoopThrough-i-j commented on #647
So, the documentation for this is left I hope.

[2021-04-03 16:36] PIG208 opened #673 "Incrementor bot is broken when the time limit for editing messages has expired"
In the production environment of Zulip, calls to `update_message` might not actually update the message if the bot doesn't have access to edit the message. E.g.: when the time limit is expired, or message editing is disabled, etc. The implementation for incrementor should take respect of the error message from the server and send a new message when necessary.

[2021-04-05 19:36] timabbott commented on #647
Agree, and I think that's a PR for zulip/zulip, since that's where the documentation for `call_on_each_*` lives.  I think a `Fixes: zulip/python-zulip-api#647` in the zulip/zulip commit would allow it to close this issue when merged.

[2021-04-06 15:43] #647 closed

[2021-04-07 00:36] #673 closed

[2021-04-07 02:52] alexzw7 commented on #672
@zulipbot claim

[2021-04-07 02:53] alexzw7 commented on #672
@zulipbot add "good first issue"

[2021-04-07 02:53] alexzw7 commented on #672
@zulipbot claim

[2021-04-11 18:20] mkp6781 opened #677 "issue with mute_topic endpoint"
I made a call to the endpoint with a non-existent topic and it returned a 'success' response.
Further if I make calls with this same topic, depending on whether the operation specified is add/remove I get the following responses.
"add" : `{'result': 'error', 'msg': 'Topic already muted'}`
"remove" : `{'result': 'error', 'msg': 'Topic is not muted'}`

[2021-04-11 18:45] alexzw7 commented on #677
@zulipbot add "good first issue"

[2021-04-11 18:45] alexzw7 commented on #677
@zulipbot claim

[2021-04-11 21:24] PIG208 commented on #477
The issue here is just the wrong dash. You should use `--` instead of `–-`.

[2021-04-14 17:15] LoopThrough-i-j commented on #672
@zulipbot remove "good first issue"

[2021-04-18 12:44] Ponni-M commented on #628
@zulipbot claim

[2021-04-18 12:46] Ponni-M commented on #628
@zulipbot claim

[2021-04-19 21:26] timabbott commented on #677
@mkp6781 can you explain in more detail what you were trying to do?

I don't think this is a bug -- in Zulip, there is no concept of a "non-existent topic" -- topics are just a field on Message objects.  And muting adjusts the behavior of messages with that string in their topic field.

[2021-04-19 21:26] #677 closed

[2021-04-26 06:53] PIG208 opened #679 "Add a context manager to manage storage"
In the documentation, we have:

The goal is to implement a context manager for `bot_handler.storage.put` and `bot_handler.storage.get`.

[2021-05-06 17:45] timabbott opened #683 "Add support for using ZULIP_FEATURE_LEVEL to determine how to encode parameters"
As part of https://github.com/zulip/zulip/issues/18035

We should implement this as follows:
* A commit should make a `Client` object do a `GET /server_settings` and store the `feature_level` and server version as properties.
* We can then write functions to encode parameters differently depending on the feature level. for `update_user` as a sample case, in preparation for the API migration there.

[2021-05-06 17:47] timabbott commented on #683
Also @msurfer @orientor @LoopThrough-i-j FYI, since if we implement this correctly, it would adjust and hopefully improve the workflow for making API changes.

[2021-05-06 17:54] LoopThrough-i-j commented on #683
Exactly something I was looking for and couldn't find. This could create a door for writing integration tests for the API clients and much more.

[2021-05-09 15:40] PIG208 opened #684 "Add `remove_reaction` for bot handlers"
Currently, the bot is able to add a reaction conveniently using `react(message, emoji_name)`. Similarly, we can also wrap the API call for removing a reaction for our bot handler. We will need to modify the BotHandler protocol and our implementations for ExternalBotHandler and EmbeddedBotHandler (in the Zulip repository) for this change.

A possible direction for us here might be having the bothan

[2021-05-09 15:52] PIG208 commented on #672
A brief note for this one here: we might need to add a common exception class called `BotError` and specify a set of sub errors like AccessDenied etc. (we need to discuss the naming). I think we can have a protocol that can be shared with embedded bots as well.
An anticipated result of this might be that the user will no longer need to examine the returned dictionary from the API and instead they

[2021-05-12 21:13] PIG208 opened #686 "Implement react for TerminalBotHandler."
Just like `ExternalBotHandler` or other implementations, we should make `TerminalBotHandler` follow the `BotHandler` protocol. Otherwise even the `helloworld` bot cannot be run properly due to the fact that it doesn't support reactions. (We can simply mock it by just printing out the emoji name).

[2021-05-15 11:51] PIG208 commented on #679
@zulipbot claim

[2021-05-18 12:30] rht opened #690 "Rename BotHandler to AbstractBotHandler."
To prevent confusion about its usage. To cement the fact that it is an abstract class used only for typing annotation purpose.
See discussion at https://chat.zulip.org/#narrow/stream/127-integrations/topic/deploying.20bots.20on.20heroku.3F.3F.3F.20--.20BotHandler.

Still need discussion: whether we should additionally use `NotImplementedError` instead of `...` to proactively tell the library users

[2021-05-19 19:03] timabbott commented on #690
I think a naming change is likely sufficient to avoid library users accidentally using this class; we can always do something further after if we see the same confusion after a rename.

[2021-05-24 21:22] #686 closed

[2021-05-24 21:30] #679 closed

[2021-05-28 16:27] timabbott commented on #683
@PIG208 FYI as well; this is probably one of the more important features for us to add to the Python API bindings.

@neiljp also FYI, since this may have some utility for ZulipTerminal as well (if you can transparently handle some API upgrades).

[2021-05-28 17:06] neiljp commented on #672
Is it the intent of this issue to evolve all of the `zulip` python API to have different return values and raise exceptions instead?
While ZT can adapt to this per zulip library release, this seems  like a big API transition to make for all dependent packages/scripts.

If this is an evolution of `zulip`, then `BotError` seems misnamed, unless this issue is specific to the bots library instead?

[2021-05-28 17:52] neiljp commented on #683
We already fetch the feature-level and adjust some behavior based on it. It's not clear to me precisely what's involved here, but we can likely handle this via a `zulip` dependency upgrade or via feature-level conditionals?

Is this required (ie a ZT bug as of now) or optional (ie. ZT api migration, or subject->topic)?

[2021-05-28 19:14] timabbott commented on #683
The goal as stated here is just to have things written with the python-zulip-api transparently handle how to call endpoints (E.g. if we rename an endpoint or we change how a parameter to send is encoded).  I think ZT will still need to have all the logic for parsing event formats, etc., though it would certainly be reasonable to consider as a follow-up having a shared function here that converts a

[2021-05-29 04:59] harshakhmk commented on #670
@zulipbot  claim

[2021-05-29 06:16] harshakhmk commented on #670
I think the badge is correctly configured in README but it is somehow related to [this](https://community.codecov.io/t/badge-showing-0-coverage/859) correct me if I am wrong

[2021-05-29 06:40] rht opened #696 "zulip-cli: Replace harcoded zuliprc path with the one used in zulip_bots/run.py"
_Originally posted by @andersk in https://github.com/zulip/python-zulip-api/pull/663#discussion_r639105669_

This is the PR for zulip-cli: https://github.com/zulip/python-zulip-api/pull/663.
We want to replace the hardcoded zuliprc path (currently ~/zuliprc) to use something along the line of https://github.com/zulip/python-zulip-api/blob/717a549f4b097b7d08470bb860f0346c30d4ecd8/zulip_bots/zulip_b

[2021-06-02 20:02] jiriryszawy opened #697 "Duplicating same tweets when following more users with Twitter-bot"
When following multiple users on Twitter with Twitter-bot using crontab, the same tweets will be will be importing again and again everytime crontab call the twitter-bot script. Using
[code]
will repeat to import last 5 tweets from two TwitterUsernames from the list every five minutes. Only one TwitterUsername will behave as expected and his tweets will not be duplicated.

@strifel proposed this s

[2021-06-02 20:02] jiriryszawy opened #698 "Better Twitter integration"
I have few feature requests for better Twitter integration:

**New way to follow multiple twitter users**
Now you can only import tweets from one user using twitter-bot script. It would be helpful to add more users in one script argument (using comma as a separator). Putting more users will now cause an error. Only way to follow multiple users is to call twitter-bot script multiple times in cronta

[2021-06-08 18:52] andersk commented on #670
But it has no data since 2020-12-02. The GitHub Actions [output](https://github.com/zulip/python-zulip-api/runs/2733186033#step:7:35) indicates that it only finds one “coverage report” at `./zulip-api-py3-venv/bin/coverage-3.9`, which is not a coverage report.

[2021-06-14 13:12] jwillmer opened #729 "[FEATUER REQUEST] Standup Bot"
I would like to use a standup bot like I encountered in Mattermost: https://github.com/standup-raven/standup-raven

In case such feature already exists I would love to get to know it :)

[2021-06-15 16:25] gvarun1 commented on #670
@zulipbot  claim

[2021-06-15 16:34] gvarun1 commented on #670
@zulipbot  abandon

[2021-06-15 16:34] gvarun1 commented on #632
@zulipbot claim

[2021-06-15 16:34] gvarun1 commented on #632
@zulipbot claim

[2021-06-15 16:35] gvarun1 commented on #632
@zulipbot claim

[2021-06-15 20:54] pradeepcep commented on #670
I checked the badge with both codecov's and shield's images. It seems like only the `master` branch is affected for now, but the badges say "unknown" intermittently.

Examples:
* `master` - ![](https://img.shields.io/codecov/c/github/zulip/python-zulip-api/branch/master.svg) ![](https://codecov.io/gh/zulip/python-zulip-api/branch/master/graph/badge.svg)
* a branch named `irc` with a PR open - ![](

[2021-06-15 20:55] pradeepcep commented on #670
@zulipbot claim

[2021-06-16 04:25] gvarun1 commented on #497
@zulipbot claim

[2021-07-01 16:44] pradeepcep commented on #670
@zulipbot claim

[2021-07-01 16:45] pradeepcep commented on #670
Second time's the charm. Here we go!

[2021-07-29 18:13] timabbott commented on #636
@PIG208 do you think #708 resolved this?  I guess we can leave this option open until wethe documentation feels good for this workflow.

[2021-08-01 22:39] timabbott commented on #683
@PIG208 I think this is probably the most important issue for the Python bindings. I think in particular we want to pass all the `client_capabilities` [currently documented](https://chat.zulip.org/api/register-queue#parameter-client_capabilities) by default, to encourage coding against the latest API when writing new clients.

[2021-09-12 18:28] uzair-ali10 commented on #527
Is this issue resolved??
If yes please close it

[2021-09-21 10:22] rht commented on #604
This will be fixed by #723.

[2021-09-21 10:28] rht commented on #612
This will be closed by #723 since it uses matrix-nio.

[2021-09-29 05:15] pradyumn014 commented on #670
@timabbott Looks like the issue isn't there anymore -
![Screenshot from 2021-09-29 10-44-06](https://user-images.githubusercontent.com/15688902/135207460-3b85f655-da94-472b-82b9-caf0ac34d44b.png)

[2021-09-29 21:00] andersk commented on #670
I fixed this in #699.

[2021-09-29 21:00] #670 closed

[2021-10-01 11:06] rht opened #725 "Slack bridge: Add option to bridge multiple channels into different topics."

[2021-10-01 11:07] rht opened #726 "Slack bridge: Translate between Slack "markdown" syntax and Zulip markdown for the messages being passed."

[2021-10-09 13:26] gr8geek commented on #698
Hi @timabbott  I would like to take up this issue and start the work.

[2021-10-10 04:25] gr8geek commented on #698
@zulipbot clain

[2021-10-10 04:27] gr8geek commented on #698
@zulipbot claim

[2021-10-20 08:54] caizixian opened #732 "zulip 0.8.1 release on PyPI is missing py.typed"
There is `py.typed` in https://files.pythonhosted.org/packages/7b/e8/8655a8d7f6d62b5781418bf2da81b9eed6bb519af6da12fee3b78ed1e513/zulip-0.8.0-py3-none-any.whl
But not in https://files.pythonhosted.org/packages/1b/da/cd4d2fac58b7211fcf875a4f9f78297b6d38caccda9fe506432961381fdf/zulip-0.8.1-py3-none-any.whl

I think this causes `mypy` checks of projects that imports `zulip` to fail.
[code]

[2021-10-20 17:02] timabbott commented on #732
@eeshangarg can you investigate?  @PIG208 might also have ideas.

[2021-10-27 18:15] #732 closed, assigned to nobody

[2021-11-02 20:24] mharyam commented on #489
Hello @showell ,
I want to contribute to this, but I am not clear about what the update should be.
How do you think this can be improved to handle more testing?

[2021-11-16 03:23] timabbott commented on #672
I think so.  One theory is that we could provide a `legacy_exception_handling` flag to the `Client()` constructor that resulted in it using the old error-handling method of converting errors for backwards-compatibility.

[2021-12-08 14:22] vinitwadgaonkar commented on #489
@zulipbot  claim

[2022-02-09 08:51] legendarykamal commented on #533
@zulipbot  claim

[2022-02-20 02:13] caizixian commented on #732
@eeshangarg I'm wondering whether a new version, e.g. 0.8.2, can be released to PyPI to address this issue. Thanks!

[2022-03-09 10:48] e7p opened #748 "Cert Bundle might also be a directory"
When using the requests API with the `certificate` parameter, it is also possible to enter e.g. `/etc/ssl/certs` as a certificate bundle and it will result in verifying against all certificates lying in this path.

Though, I would recommend also including `os.path.isdir()` in the statement.

https://github.com/zulip/python-zulip-api/blob/e6dff1b5b6a9c6851d6c6699c2c52f345a4f486e/zulip/zulip/__init_

[2022-03-09 12:25] e7p commented on #748
Can be linked to #749

[2022-03-16 20:32] MennaEwas opened #750 "problem while activating the virtual environment"
![image](https://user-images.githubusercontent.com/61921636/158685587-86e488bd-d53e-4fc1-bd4a-f0e896f833f3.png)

[2022-04-07 15:14] aleksanb opened #751 "Zulip python api requires matrix_client as a dependency"
Today you get matrix_client in your deps if you install zulip.
Perhaps this should be an optional feature instead, so that if you install zulip[matrix_client] you'll get it, but otherwise not?
My use case is shipping error messages from a server to zulip using zulip.send_message only, so the matrix dep is unneeded.
This should be the case for other users as well.

[2022-04-14 07:27] sposs opened #752 "API to invite users"
I can't find how we can make use of the API to 'invite' users: in the documentation I can see I can create a user, but that means I have to set a password. I'd rather 'invite' the user and let him chose it. What would be the recommended way?

Excellent tool btw.

[2022-05-19 08:54] vigoux opened #754 "`KeyError` when bridging Zulip to Element"
Hi, using the zulip api, I can't connect my zulip server to Matrix (`element.org`) because this raises an error.

I followed the steps described in the docs, and here is the error:
[code]

Here is my matrix bridge config:
[code]

[2022-05-24 01:32] rht commented on #754
Sorry for the late response. Will be fixed in #755.

[2022-05-24 21:49] #754 closed

[2022-06-03 10:13] vigoux commented on #754
Hi again, it looks like the bridge does not work though now. It does not send messages on the matrix side

[2022-06-03 10:23] rht commented on #754
Note that the messages sent by the Matrix account used as the bridging bot won't be relayed over, because otherwise we will get infinite mirroring. You have to test sending from a different Matrix account. This fact probably needs to be documented.

[2022-06-03 10:25] vigoux commented on #754
Yeah yeah I did not do that, using my own acount on both sides it does not go over

[2022-06-03 13:15] vigoux commented on #754
It was an issue on my end, I forgot to subscribe the bot to the stream, sorry !

[2022-06-27 14:55] timololipop opened #759 "How to run the trivia quiz bot?"
Hey, I currently try to find out how to run the trivia quiz bot.

Is it already integrated? Do I need to run it with zulip-run-bot or with the botserver?

I appreciate a quick hint on this.

Thanks!

[2022-07-30 16:13] timabbott opened #761 "Improve error handling when a request fails due to the persistent connection being expired"
Some networks drop long-lived inactive TCP connections, which can lead to connection errors when using the Zulip API bindings for some persistent jobs. We should ideally either enable a keep-alive, or perhaps a transparent retry for this class of connection error.

See https://github.com/zulip/zulip/commit/ff647dff03f178c329240c0e938d3fff8fbc5ab0 for an example.

[2022-08-01 18:32] Khushiyant commented on #637
@zulipbot claims

[2022-08-01 18:33] Khushiyant commented on #637
@zulipbot claim

[2022-08-24 15:57] Anton-4 opened #764 "Invalid email for valid email"
I'm getting an invalid email error for a valid email address :shrug:
I checked the source code but I was unable to find where the email validation is happening.

![zulip-send-error](https://user-images.githubusercontent.com/17049058/186463036-ff788480-d2df-4496-805d-846fc212d089.png)

context: I'm trying to send a private message to the zulip user(me) with the email in the picture, shown as coming

[2022-08-24 21:04] andersk commented on #764
Does your organization have [restricted email address visibility](https://zulip.com/help/restrict-visibility-of-email-addresses) turned on? If so, you need to use your display email address `userNNNN@roc.zulipchat.com` (where `NNNN` is your user ID) rather than your real email address.

[2022-08-25 08:09] Anton-4 commented on #764
Yes indeed, thank you @andersk!

[2022-08-25 08:30] #764 closed

[2022-10-22 12:15] rht opened #769 "Slack bridge: Add option that let the bridge auto-specify Slack channel name as Zulip topic"
As stated in https://github.com/zulip/python-zulip-api/pull/739#discussion_r988218529.

[2022-10-22 12:17] rht commented on #751
Yeah, I think we want `matrix_client` as an optional dependency, installed via `pip install zulip[matrix]`.

[2022-11-10 14:02] nagyem commented on #433
@zulipbot claim

[2022-11-10 15:31] nagyem commented on #433
@zulipbot abandon

[2022-11-10 19:38] ryansong13 commented on #761
Hi @timabbott, I'm a first time contributor and I was wondering if this is this bug still open. If so, do you think it would be a good first bug to handle?

[2022-11-10 20:22] zfh005 commented on #698
@zulipbot claim

[2022-11-10 22:27] jayfangjz commented on #628
claim

[2022-11-10 22:28] jayfangjz commented on #628
@zulipbot claim

[2022-11-10 22:29] jayfangjz commented on #752
@zulipbot claim

[2022-11-10 23:14] Beanpen commented on #761
@zulipbot claim

[2022-11-10 23:18] zihanqiuu commented on #637
@zulipbot claim

[2022-11-10 23:27] zihanqiuu commented on #304
Hi! Do you think it is still an issue? I can take on this.

[2022-11-11 00:11] Beanpen commented on #761
Hi @timabbott I wonder if you mean to remove all the alias of "client = zulip.Client(...)" and instead directly call "zulip.Client(...)" in all files. Thank you!

[2022-11-11 03:10] y1haohuang commented on #637
@zulipbot claim

[2022-11-24 07:44] y1haohuang commented on #637
@zulipbot abandom

[2022-11-24 15:36] y1haohuang commented on #637
@zulipbot claim

[2022-11-26 14:51] Freedisch commented on #433
hello, this issue is still open, but it seems it has already been solved does it require us to fix a bug in it
https://github.com/zulip/python-zulip-api/blob/main/zulip_bots/zulip_bots/bots/merels/test_merels.py

[2022-11-29 19:50] y1haohuang commented on #637
@zulipbot claim